{% extends param('ccdn_forum_forum.board.show.layout_template') %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/ccdncomponentcrumbtrail/css/crumbs.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}{{ 'title.board.show' | trans({'%board_name%': board.name}, 'CCDNForumForumBundle' ) }}{% endblock %}

{% block sidebar %}
	{{ parent() }}

	{% include 'CCDNForumForumBundle:Sidebar:sidebar.html.twig' %}
		
{% endblock %}

{% block sidebar_actions %}
	{{ parent() }}
	
	{% include 'CCDNForumForumBundle:Sidebar:sidebar_actions.html.twig' %}
	
{% endblock %}


{% block body %}

	{% include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' %}

	{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}

	{% spaceless %}
		<h2>{{ board.name }}.</h2>

		<div class="well">
			{{ board.description }}
			<hr>
			<span class="badge badge-info">{{ 'board.topic_count' |trans({}, 'CCDNForumForumBundle') }}&nbsp;{{ board.topicCount }}</span>&nbsp;
			<span class="badge badge-info">{{ 'board.post_count' |trans({}, 'CCDNForumForumBundle') }}&nbsp;{{ board.postCount }}</span>
		</div>
	{% endspaceless %}

	{% if sticky_topics is not empty %}
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th class="center" style="width: 18px;"></th>
					<th class="center" style="width: 18px;"></th>
					<th class="left">{{ 'board.table.head.topic_title' | trans({}, 'CCDNForumForumBundle') }}</th>
					<th class="center" style="width: 80px;">{{ 'board.table.head.reply_count' | trans({}, 'CCDNForumForumBundle') }}</th>
					<th class="center" style="width: 80px;">{{ 'board.table.head.view_count' | trans({}, 'CCDNForumForumBundle') }}</th>
					<th class="center" style="width: 170px;">{{ 'board.table.head.last_post' | trans({}, 'CCDNForumForumBundle') }}</th>	
				</tr>
			</thead>
			<tbody>
			{% for row, topic in sticky_topics %}
				{% if not topic.getDeletedBy or is_granted('ROLE_MODERATOR') %}
					<tr class="{{ cycle(['row_odd', 'row_even'], row) }}">
						<td class="center">
						{% if topic.getDeletedDate %}
							<i class="icon-trash"></i>
						{% else %}
							{% if topic.getClosedDate %}
								<i class="icon-lock"></i>
							{% else %}
								{# else if not closed, then if new posts add special icon here #}
							{% endif %}
						{% endif %}
						</td>
						<td class="center">
							{# use custom icons below, will be later specified in the create topic form #}
							<a href="{{ path('cc_forum_topic_show', {'topic_id': topic.getId }) }}"><i class="icon-bullhorn"></i></a>					
						</td>
						<td class="left">
							{% spaceless %}
								{% if topic.getClosedDate %}
								<span class="label label-important">{{ 'badge.topic.closed' |trans({}, 'CCDNForumForumBundle') }}</span>&nbsp;
								{% endif %}
								<a href="{{ path('cc_forum_topic_show', {'topic_id': topic.getId }) }}" title="{{ topic.getTitle }}">{{ truncDot(topic.getTitle, param('ccdn_forum_forum.board.show.topic_title_truncate')) }}</a>
								<br>
								{% if topic.getFirstPost %}
									{{ 'post.posted_by' | trans({}, 'CCDNForumForumBundle') }}
									{% if topic.getFirstPost.getCreatedBy %}
										<a href="{{ path(user_profile_route, {'user_id': topic.getFirstPost.getCreatedBy.getId } ) }}">{{ topic.getFirstPost.getCreatedBy |title }}</a>
									{% else %}
										Guest
									{% endif %}
									{{ 'actioned.at' | trans({}, 'CCDNForumForumBundle') }}<a class="date_link_small" href="{{ path('cc_forum_topic_show', {'topic_id': topic.getId }) }}">{{ topic.getFirstPost.getCreatedDate |date(param('ccdn_forum_forum.board.show.first_post_datetime_format')) }}</a>
								{% endif %}
							{% endspaceless %}
						</td>
						<td class="center">
							{{ topic.getReplyCount }}
						</td>
						<td class="center">
							{{ topic.getViewCount }}
						</td>
						<td class="center">
							{% spaceless %}
								{% if topic.getLastPost %}
									{{ 'post.posted_by' | trans({}, 'CCDNForumForumBundle') }}
									{% if topic.getLastPost.getCreatedBy %}
										<a href="{{ path(user_profile_route, {'user_id': topic.getLastPost.getCreatedBy.getId } ) }}">{{ topic.getLastPost.getCreatedBy |title }}</a>
									{% else %}
										Guest
									{% endif %}
									
									{% set page = divCeil((topic.getReplyCount + 1), posts_per_page) %}
									{{ 'actioned.at' | trans({}, 'CCDNForumForumBundle') }}<br>
									{% if page < 2 %}
										<a class="date_link_small" href="{{ path('cc_forum_topic_show', {'topic_id': topic.getId } ) }}#{{ topic.getLastPost.getId }}">{{ topic.getLastPost.getCreatedDate |date(param('ccdn_forum_forum.board.show.last_post_datetime_format')) }}</a>
									{% else %}
										<a class="date_link_small" href="{{ path('cc_forum_topic_show_paginated', {'topic_id': topic.getId, 'page':page } ) }}#{{ topic.getLastPost.getId }}">{{ topic.getLastPost.getCreatedDate |date(param('ccdn_forum_forum.board.show.last_post_datetime_format')) }}</a>
									{% endif %}
								{% endif %}
							{% endspaceless %}
						</td>
					</tr>
				{% endif %}
			{% else %}
				<tr>
					<td class="center" colspan="6">
						<div class="well">{{ 'board.table.empty' | trans({}, 'CCDNForumForumBundle') }}</div>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}

	{% if pager.haveToPaginate %}
	    {{ pagerfanta(pager, 'twitter_bootstrap', {'routeName':'cc_forum_board_show_paginated', 'routeParams':{'board_id':board.getId}} ) }}
	{% endif %}

	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th class="center" style="width: 18px;"></th>
				<th class="center" style="width: 18px;"></th>
				<th class="left">{{ 'board.table.head.topic_title' | trans({}, 'CCDNForumForumBundle') }}</th>
				<th class="center" style="width: 80px;">{{ 'board.table.head.reply_count' | trans({}, 'CCDNForumForumBundle') }}</th>
				<th class="center" style="width: 80px;">{{ 'board.table.head.view_count' | trans({}, 'CCDNForumForumBundle') }}</th>
				<th class="center" style="width: 170px;">{{ 'board.table.head.last_post' | trans({}, 'CCDNForumForumBundle') }}</th>	
			</tr>
		</thead>
		<tbody>
		{% for row, topic in pager.getCurrentPageResults %}
			{% if not topic.getDeletedBy or is_granted('ROLE_MODERATOR') %}
				<tr class="{{ cycle(['row_odd', 'row_even'], row) }}">
					<td class="center">
					{% if topic.getDeletedDate %}
						<i class="icon-trash"></i>
					{% else %}
						{% if topic.getClosedDate %}
							<i class="icon-lock"></i>
						{% else %}
							{# else if not closed, then if new posts add special icon here #}
						{% endif %}
					{% endif %}
					</td>
					<td class="center">
						{# use custom icons below, will be later specified in the create topic form #}
						<a href="{{ path('cc_forum_topic_show', {'topic_id': topic.getId }) }}"><i class="icon-comment"></i></a>					
					</td>
					<td class="left">
						{% spaceless %}
							{% if topic.getClosedDate %}
							<span class="label label-important">{{ 'badge.topic.closed' |trans({}, 'CCDNForumForumBundle') }}</span>&nbsp;
							{% endif %}
							<a href="{{ path('cc_forum_topic_show', {'topic_id': topic.getId }) }}" title="{{ topic.getTitle }}">{{ truncDot(topic.getTitle, param('ccdn_forum_forum.board.show.topic_title_truncate')) }}</a>
							<br>

							{% if topic.getFirstPost %}
								{{ 'post.posted_by' | trans({}, 'CCDNForumForumBundle') }}
								{% if topic.getFirstPost.getCreatedBy %}
									<a href="{{ path(user_profile_route, {'user_id': topic.getFirstPost.getCreatedBy.getId } ) }}">{{ topic.getFirstPost.getCreatedBy |title }}</a>
								{% else %}
									Guest
								{% endif %}
								{{ 'actioned.at' | trans({}, 'CCDNForumForumBundle') }}<a class="date_link_small" href="{{ path('cc_forum_topic_show', {'topic_id': topic.getId }) }}">{{ topic.getFirstPost.getCreatedDate |date(param('ccdn_forum_forum.board.show.first_post_datetime_format')) }}</a>
							{% endif %}
						{% endspaceless %}
					</td>
					<td class="center">
						{{ topic.getReplyCount }}
					</td>
					<td class="center">
						{{ topic.getViewCount }}
					</td>
					<td class="center">
						{% spaceless %}
							{% if topic.getLastPost %}
								{{ 'post.posted_by' | trans({}, 'CCDNForumForumBundle') }}
								{% if topic.getLastPost.getCreatedBy %}
									<a href="{{ path(user_profile_route, {'user_id': topic.getLastPost.getCreatedBy.getId } ) }}">{{ topic.getLastPost.getCreatedBy |title }}</a>
								{% else %}
									Guest
								{% endif %}
								{% set page = divCeil((topic.getReplyCount + 1), posts_per_page) %}
								{{ 'actioned.at' | trans({}, 'CCDNForumForumBundle') }}<br>
								{% if page < 2 %}
								<a class="date_link_small" href="{{ path('cc_forum_topic_show', {'topic_id': topic.getId } ) }}#{{ topic.getLastPost.getId }}">{{ topic.getLastPost.getCreatedDate |date(param('ccdn_forum_forum.board.show.last_post_datetime_format')) }}</a>
								{% else %}
								<a class="date_link_small" href="{{ path('cc_forum_topic_show_paginated', {'topic_id': topic.getId, 'page':page } ) }}#{{ topic.getLastPost.getId }}">{{ topic.getLastPost.getCreatedDate |date(param('ccdn_forum_forum.board.show.last_post_datetime_format')) }}</a>
								{% endif %}
							{% endif %}
						{% endspaceless %}
					</td>
				</tr>
			{% endif %}
		{% else %}
			<tr>
				<td class="center" colspan="6">
					<div class="well">{{ 'board.table.empty' | trans({}, 'CCDNForumForumBundle') }}</div>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
		
	{% if pager.haveToPaginate %}
	    {{ pagerfanta(pager, 'twitter_bootstrap', {'routeName':'cc_forum_board_show_paginated', 'routeParams':{'board_id':board.getId}} ) }}
	{% endif %}

	{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}

{% endblock %}