{% extends 'CCDNForumForumBundle::base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.board.show.layout_template %}

{% block title %}{{- truncDot('ccdn_forum_forum.title.board.show' | trans({'%board_name%': board.name}, 'CCDNForumForumBundle'), ccdn_forum_forum.seo.title_length) -}}{% endblock %}


{% block body_content %}

    {%- spaceless -%}

	<header class="row-fluid">
		<div class="span6">
		    <h3 title="{{- board.name -}}">{{- truncDot(board.name, ccdn_forum_forum.seo.title_length) -}}</h3>
		</div>
		<div class="span6 content-right">
		    <span class="label label-inverse prominent-figure" title="{{- board.cachedTopicCount -}}">
				{{- 'ccdn_forum_forum.board.topic_count' |trans({}, 'CCDNForumForumBundle') -}}
				{{- abbr_number(board.cachedTopicCount) -}}
			</span>
		    <span class="label label-inverse prominent-figure" title="{{- board.cachedPostCount -}}">
				{{- 'ccdn_forum_forum.board.post_count' |trans({}, 'CCDNForumForumBundle') -}}
				{{- abbr_number(board.cachedPostCount) -}}
			</span>
		</div>
	</header>

		<blockquote>
		    {{- BBCode(board.getDescription | raw, ccdn_forum_forum.item_board.enable_bb_parser) | raw -}}
		</blockquote>

	<section>
	    <div class="btn-toolbar">
	        <div class="span6">
	            {% set is_topic_create_disabled = board.isAuthorisedToCreateTopic(app.security) ? '': ' disabled' %}

	            <a class="btn btn-danger{{ is_topic_create_disabled }}" rel="nofollow" href="{{- path('ccdn_forum_forum_topic_create', {'boardId': board.getId }) -}}">
					<i class="icon-white icon-asterisk"></i>
					{{- 'ccdn_forum_forum.link.topic.create' | trans({}, 'CCDNForumForumBundle') -}}
				</a>
	        </div>
	        {%- if pager.haveToPaginate -%}
	            <nav class="span6 btn-right paginate">
		            {{- pagerfanta(pager, 'twitter_bootstrap_compact', {'routeName':'ccdn_forum_forum_board_show_paginated', 'routeParams':{'boardId':board.getId}} ) -}}
	            </nav>
	        {%- endif -%}
	    </div>

        <table class="table table-striped table-bordered table-hover table-no-vertical-borders">
            <thead>
                <tr>
                    <th class="center" style="width: 18px;"></th>
                    <th class="center" style="width: 18px;"></th>
                    <th class="left">{{- 'ccdn_forum_forum.board.table.head.topic_title' | trans({}, 'CCDNForumForumBundle') -}}</th>
                    <th class="center" style="width: 80px;">{{- 'ccdn_forum_forum.board.table.head.reply_count' | trans({}, 'CCDNForumForumBundle') -}}</th>
                    <th class="center" style="width: 80px;">{{- 'ccdn_forum_forum.board.table.head.view_count' | trans({}, 'CCDNForumForumBundle') -}}</th>
                    <th class="center" style="width: 170px;">{{- 'ccdn_forum_forum.board.table.head.last_post' | trans({}, 'CCDNForumForumBundle') -}}</th>
                </tr>
            </thead>
            <tbody>
			    {%- if sticky_topics is not empty -%}
					<tr>
						<td colspan="6" class="row-group-heading">
							{{- 'ccdn_forum_forum.board.table.head.announcement_title' | trans({}, 'CCDNForumForumBundle') -}}
						</td>
					</tr>

		            {%- for row, topic in sticky_topics -%}
		                {%- if not topic.isDeleted or is_granted('ROLE_MODERATOR') -%}
		                    {%- include 'CCDNForumForumBundle:Board:item_topic_list.html.twig' -%}
		                {%- endif -%}
		            {%- else -%}
		                <tr>
		                    <td class="center" colspan="6">
		                        {{- 'ccdn_forum_forum.board.table.empty' | trans({}, 'CCDNForumForumBundle') -}}
		                    </td>
		                </tr>
		            {%- endfor -%}

					<tr>
						<td colspan="6" class="row-group-heading">
							{{- 'ccdn_forum_forum.board.table.head.topic_title' | trans({}, 'CCDNForumForumBundle') -}}
						</td>
					</tr>
			    {%- endif -%}

		        {%- for row, topic in pager.getCurrentPageResults -%}
		            {%- if not topic.isDeleted or is_granted('ROLE_MODERATOR') -%}
		                {%- include 'CCDNForumForumBundle:Board:item_topic_list.html.twig' -%}
		            {%- endif -%}
		        {%- else -%}
		            <tr>
		                <td class="center" colspan="6">
		                    {{- 'ccdn_forum_forum.board.table.empty' | trans({}, 'CCDNForumForumBundle') -}}
		                </td>
		            </tr>
		        {%- endfor -%}
            </tbody>
        </table>

	    {%- if pager.haveToPaginate -%}
	        <div class="btn-toolbar">
	            <nav class="span12 btn-right paginate">
	                {{- pagerfanta(pager, 'twitter_bootstrap_compact', {'routeName':'ccdn_forum_forum_board_show_paginated', 'routeParams':{'boardId':board.getId}} ) -}}
	            </nav>
	        </div>
	    {%- endif -%}
	</section>

    {%- endspaceless -%}

{% endblock body_content %}
