{% extends param('ccdn_forum_forum.post.delete_post.layout_template') %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/ccdncomponentcrumbtrail/css/crumbs.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}{{ page_title }}{% endblock %}

{% block sidebar %}
	{{ parent() }}

	<div class="sidebar">
		<div class="sidebar_header"><span class="sidebar_header">{{ 'sidebar.header.tools' | trans({}, 'CCDNForumForumBundle') }}</span></div>
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_forum_topic_reply', {'topic_id': topic.getId }) }}">{{ 'sidebar.link.reply_to_topic' | trans({}, 'CCDNForumForumBundle') }}</a></div>
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_forum_topic_create', {'board_id': topic.getBoard.getId }) }}">{{ 'sidebar.link.create_new_topic' | trans({}, 'CCDNForumForumBundle') }}</a></div>
	</div>
{% endblock %}

{% block body %}

{% include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' %}

<div class="section_wrap_top">
	{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}
</div>
<div class="section_wrap_bottom">
	<div class="section_header">
		<h2>{{ page_title }}</h2>
	</div>
</div>	

<div class="section_wrap_standalone">
	<div class="section_panel">
		<div style="text-align: center;">
			<br><br>
			<h3>{{ confirmation_message | trans({}, 'CCDNForumForumBundle') }}</h3>
			<br><br><br>
			<a class="button_red" href="{{ path('cc_forum_post_delete_confirmed', {'post_id': post.id })}}">{{ 'post.delete.confirm_yes' | trans({}, 'CCDNForumForumBundle') }}</a>
			&nbsp;&nbsp;&nbsp;
			<a class="button_silver" href="{{ path('cc_forum_topic_show', {'topic_id': topic.id })}}">{{ 'post.delete.confirm_no' | trans({}, 'CCDNForumForumBundle') }}</a>
			<br><br>
		</div>
	</div>
</div>

<div class="section_wrap_standalone">
	{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}
</div>

{% endblock %}