{% extends 'CCDNForumForumBundle::base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.post.delete_post.layout_template %}

{% block title %}{{- truncDot('title.post.delete' |trans({'%post_id%': post.id}, 'CCDNForumForumBundle'), ccdn_forum_forum.seo.title_length) -}}{% endblock %}


{% block body_content %}

	{%- spaceless -%}

	<section class="form-confirmation">

		<h3>
			{{- 'title.post.delete' |trans({'%post_id%': post.id}, 'CCDNForumForumBundle') -}}
		</h3>

		<div class="form-question">
			<span class="lead">
				{{- 'post.delete_confirm' |trans({}, 'CCDNForumForumBundle') -}}
			</span>
		</div>

		<div class="form-answer">
			<a class="btn btn-danger" href="{{- path('ccdn_forum_user_post_delete_confirmed', {'postId': post.id }) -}}">
				{{- 'form.button.yes' |trans({}, 'CCDNForumForumBundle') -}}
			</a>
			
			<a class="btn" href="{{- path('ccdn_forum_user_topic_show', {'topicId': topic.id }) -}}">
				{{- 'form.button.no' |trans({}, 'CCDNForumForumBundle') -}}
			</a>
		</div>

	</section>

	{%- endspaceless -%}

{% endblock body_content %}
