{% extends 'CCDNForumForumBundle::base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.post.delete_post.layout_template %}

{% block title %}{{- truncDot(page_title, ccdn_forum_forum.seo.title_length) -}}{% endblock %}


{% block body_content %}

	{%- spaceless -%}

	<section class="form-confirmation">

		<h3>{{- page_title -}}</h3>

		<div class="form-question">
			<span class="lead">{{- confirmation_message | trans({}, 'CCDNForumForumBundle') -}}</span>
		</div>

		<div class="form-answer">
			<a class="btn btn-danger" href="{{- path('ccdn_forum_forum_post_delete_confirmed', {'postId': post.id }) -}}">{{- 'ccdn_forum_forum.post.delete.confirm_yes' | trans({}, 'CCDNForumForumBundle') -}}</a>
			&nbsp;&nbsp;&nbsp;
			<a class="btn" href="{{- path('ccdn_forum_forum_topic_show', {'topicId': topic.id }) -}}">{{- 'ccdn_forum_forum.post.delete.confirm_no' | trans({}, 'CCDNForumForumBundle') -}}</a>
		</div>

	</section>

	{%- endspaceless -%}

{% endblock body_content %}
