{% extends param('ccdn_forum_forum.post.delete_post.layout_template') %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}{{- truncDot(page_title, param('ccdn_forum_forum.seo.title_length')) -}}{% endblock %}

{% block sidebar %}
	{{ parent() }}

	{%- include 'CCDNForumForumBundle:Sidebar:sidebar.html.twig' -%}
	
{% endblock %}

{% block sidebar_actions %}
	{{ parent() }}
	
	{%- include 'CCDNForumForumBundle:Sidebar:sidebar_actions.html.twig' -%}

{% endblock %}


{% block body %}

	{%- spaceless -%}

	{%- include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' -%}

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	<h2>{{- page_title -}}</h2>

	<div class="form-confirmation">
	
		<div class="form-question">
			<h3>{{- confirmation_message | trans({}, 'CCDNForumForumBundle') -}}</h3>
		</div>
	
		<div class="form-answer">
			<a class="btn btn-danger" href="{{- path('cc_forum_post_delete_confirmed', {'post_id': post.id }) -}}">{{- 'post.delete.confirm_yes' | trans({}, 'CCDNForumForumBundle') -}}</a>
			&nbsp;&nbsp;&nbsp;
			<a class="btn" href="{{- path('cc_forum_topic_show', {'topic_id': topic.id }) -}}">{{- 'post.delete.confirm_no' | trans({}, 'CCDNForumForumBundle') -}}</a>
		</div>
	
	</div>

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	{%- endspaceless -%}

{% endblock %}