{% extends ccdn_forum_forum.post.edit_post.layout_template %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{- asset('bundles/ccdncomponentcommon/css/speech_bubble.css') -}}" rel="stylesheet" type="text/css">
	<link href="{{- asset('bundles/ccdncomponentbbcode/css/bbcode.css') -}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{- asset('bundles/ccdncomponentbbcode/js/jquery.bbeditor.js') -}}" type="text/javascript"></script>
{% endblock %}

{% block title %}{{- truncDot('ccdn_forum_forum.title.post.edit' | trans({'%post_id%': post.getId, '%topic_title%': post.getTopic.getTitle }, 'CCDNForumForumBundle'), ccdn_forum_forum.seo.title_length) -}}{% endblock %}

{% block sidebar %}
	{{ parent() }}

	{%- include 'CCDNForumForumBundle:Sidebar:sidebar.html.twig' -%}

{% endblock %}


{% block body_content %}

	{%- spaceless -%}

	{%- include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' -%}

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	<h2>{{- 'ccdn_forum_forum.title.post.edit' | trans({'%post_id%': post.getId, '%topic_title%': post.getTopic.getTitle }, 'CCDNForumForumBundle') -}}</h2>

	{%- form_theme form ccdn_forum_forum.post.edit_post.form_theme -%}
	<form action="{{- path('ccdn_forum_forum_post_edit', { 'postId': post.id } ) -}}" method="post" {{ form_enctype(form) }} class="form-horizontal">
		<fieldset>

			{{- form_errors(form) -}}

			<div class="control-group"><div class="controls row-fluid">{{- form_row(form._token) -}}</div></div>

			<div class="control-group">
				<label for="topic_title" class="control-label">{{- 'ccdn_forum_forum.form.label.topic.title' | trans({}, 'CCDNForumForumBundle') -}}</label>
				<div class="controls row-fluid">
					<input type="text" id="topic_title" value="{{- post.getTopic.getTitle -}}" disabled class="input-xlarge span8">
				</div>
			</div>

			<div class="control-group{{- (form.body.vars.errors|length > 0) ? ' error': '' -}}">
				{{- form_label(form.body, null, { 'label': 'ccdn_forum_forum.form.label.post.body' | trans({}, 'CCDNForumForumBundle') }) -}}
				<div class="controls row-fluid">
					{{- form_errors(form.body) -}}
					{%- if ccdn_forum_forum.post.edit_post.enable_bb_editor -%}
						{%- form_theme form 'CCDNComponentBBCodeBundle:Form:fields.html.twig' -%}
					{%- endif -%}
					{{- form_widget(form.body) -}}
				</div>
			</div>
			
			{%- form_theme form ccdn_forum_forum.post.edit_post.form_theme -%}
			<div class="control-group{{- (form.attachment.vars.errors|length > 0) ? ' error': '' -}}">
				{{- form_label(form.attachment, null, { 'label': 'ccdn_forum_forum.form.label.post.attachment'| trans({}, 'CCDNForumForumBundle')}) -}}</td>
				<div class="controls row-fluid">
					{{- form_errors(form.attachment) -}}
					{{- form_widget(form.attachment) -}}
					&nbsp;<a target="_blank" class="btn" href="{{- path('ccdn_component_attachment_index') -}}">{{- 'ccdn_component_attachment.link.manage' | trans({}, 'CCDNComponentAttachmentBundle') -}}</a>
					&nbsp;<a target="_blank" class="btn" href="{{- path('ccdn_component_attachment_upload') -}}">{{- 'ccdn_component_attachment.link.upload' | trans({}, 'CCDNComponentAttachmentBundle') -}}</a>
				</div>
			</div>

			<div class="form-actions">
				<input type="submit" class="btn btn-primary" value="{{- 'ccdn_forum_forum.form.button.post.edit' | trans({}, 'CCDNForumForumBundle') -}}" name="submit_post">&nbsp;
				<input type="submit" class="btn" value="{{- 'ccdn_forum_forum.form.button.post.preview' | trans({}, 'CCDNForumForumBundle') -}}" name="submit_preview">&nbsp;
				<a class="btn" href="{{- path('ccdn_forum_forum_topic_show', {'topicId': topic.id}) -}}">{{- 'ccdn_forum_forum.form.button.cancel' |trans({}, 'CCDNForumForumBundle') -}}</a>
			</div>
		</fieldset>
	</form>

	{%- if preview is not empty -%}
		{%- include "CCDNForumForumBundle:Post:post_preview.html.twig" -%}
	{%- endif -%}

	{%- include 'CCDNForumForumBundle:Topic:transcript.html.twig' with {'topic': topic } -%}

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	{%- endspaceless -%}

{% endblock body_content %}
