{% extends param('ccdn_forum_forum.post.layout_templates.flag') %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/ccdncomponentcrumbtrail/css/crumbs.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}{{ 'title.flag.post' | trans({'%post_id%': post.id, '%topic_title%': topic.getTitle }, 'CCDNForumForumBundle') }}{% endblock %}

{% block sidebar %}
	{{ parent() }}

	<div class="sidebar">
		<div class="sidebar_header"><span class="sidebar_header">{{ 'sidebar.header.tools' | trans({}, 'CCDNForumForumBundle') }}</span></div>
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_forum_topic_reply', {'topic_id': topic.getId }) }}">{{ 'sidebar.link.reply_to_topic' | trans({}, 'CCDNForumForumBundle') }}</a></div>
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_forum_topic_create', {'board_id': topic.getBoard.getId }) }}">{{ 'sidebar.link.create_new_topic' | trans({}, 'CCDNForumForumBundle') }}</a></div>
	</div>
{% endblock %}

{% block body %}

{% include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' %}

<div class="section_wrap_top">
	{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}
</div>
<div class="section_wrap_bottom">
	<div class="section_header">
	<h2>{{ 'title.flag.post' | trans({'%post_id%': post.id, '%topic_title%': topic.getTitle }, 'CCDNForumForumBundle') }}</h2>
	</div>
</div>	

<div class="section_wrap_standalone">
	<div class="section_table_panel">
		{% form_theme form param('ccdn_forum_forum.template.theme') %}
		<form action="{{ path('cc_forum_post_flag', { 'post_id': post.id } ) }}" method="post" {{ form_enctype(form) }}>
			{{ form_row(form._token) }}
			<div class="errors">{{ form_errors(form) }}</div>
			<table class="common_list">
				<tbody>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="form_label">{{ form_label(form.reason, null, { 'label': 'form.label.post.flag.reason'| trans({}, 'CCDNForumForumBundle') }) }}</td>
						<td class="form_widget">
							{{ form_errors(form.reason) }}
							{{ form_widget(form.reason) }}
						</td>
					</tr>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="form_label">{{ form_label(form.description, null, { 'label': 'form.label.post.flag.description'| trans({}, 'CCDNForumForumBundle') }) }}</td>
						<td class="form_widget">
							{{ form_errors(form.description) }}
							{{ form_widget(form.description) }}
						</td>
					</tr>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="form_tool_strip" colspan="2">
							<input type="submit" class="button_red" value="{{ 'form.button.post.flag.submit' | trans({}, 'CCDNForumForumBundle') }}">
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>

<div class="section_wrap_standalone">
	{% include "CCDNForumForumBundle:Post:item_post.html.twig" %}
</div>

<div class="section_wrap_standalone">
	{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}
</div>

{% endblock %}