<div class="section_sub_header" id="post_{{ post.getId }}">
	<div class="float_left">
		<a href="{{ path('cc_forum_post_show', {'post_id': post.getId }) }}"><img class="button_16x16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_link.png') }}"></a>
	</div>
	<div class="float_right">
		{% if is_granted('ROLE_USER') %}
			{% if post.getCreatedBy %}
		<a href="{{ path('cc_message_message_compose_to', {'user_id': post.getCreatedBy.getId }) }}"><img class="button_16x16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_email.png') }}" alt="{{ 'link.user.message' | trans({}, 'CCDNUserProfileBundle') }}"></a>
			{% endif %}
			
		<a href="{{ path('cc_forum_post_flag', {'post_id': post.getId }) }}"><img class="button_16x16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_flag.png') }}" alt="{{ 'link.post.flag' | trans({}, 'CCDNForumForumBundle') }}"></a>
			{% if post.getCreatedBy %}
				{% if post.getCreatedBy.getId == user.getId or is_granted('ROLE_MODERATOR') %}
		<a href="{{ path('cc_forum_post_edit', {'post_id': post.getId }) }}"><img class="button_16x16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_edit.png') }}" alt="{{ 'link.post.edit' | trans({}, 'CCDNForumForumBundle') }}"></a>
					{% if not post.getDeletedBy %}
		<a href="{{ path('cc_forum_post_delete', {'post_id': post.getId }) }}"><img class="button_16x16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_trash.png') }}" alt="{{ 'link.post.delete' | trans({}, 'CCDNForumForumBundle') }}"></a>
					{% endif %}
				{% endif %}
			{% elseif is_granted('ROLE_MODERATOR') %}
		<a href="{{ path('cc_forum_post_edit', {'post_id': post.getId }) }}"><img class="button_16x16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_edit.png') }}" alt="{{ 'link.post.edit' | trans({}, 'CCDNForumForumBundle') }}"></a>
				{% if not post.getDeletedBy %}
		<a href="{{ path('cc_forum_post_delete', {'post_id': post.getId }) }}"><img class="button_16x16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_trash.png') }}" alt="{{ 'link.post.delete' | trans({}, 'CCDNForumForumBundle') }}"></a>
				{% endif %}
			{% endif %}

			{% if is_granted('ROLE_MODERATOR') %}
				{% if post.getLockedBy %}
		<a href="{{ path('cc_moderator_forum_post_unlock', {'post_id': post.getId }) }}"><img class="button_16x16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_unlocked.png') }}" alt="{{ 'link.post.unlock' | trans({}, 'CCDNForumForumBundle') }}"></a>
				{% else %}
		<a href="{{ path('cc_moderator_forum_post_lock', {'post_id': post.getId }) }}"><img class="button_16x16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_locked.png') }}" alt="{{ 'link.post.lock' | trans({}, 'CCDNForumForumBundle') }}"></a>
				{% endif %}

				{% if post.getDeletedBy %}
		<a href="{{ path('cc_moderator_forum_post_restore', {'post_id': post.getId }) }}"><img class="button_16x16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_link.png') }}" alt="{{ 'link.post.restore' | trans({}, 'CCDNForumForumBundle') }}"></a>
				{% endif %}
			{% endif %}
							
		<a href="{{ path('cc_forum_topic_reply', {'topic_id': post.getTopic.getId }) }}"><img class="button_16x16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_comment.png') }}" alt="{{ 'link.post.reply' | trans({}, 'CCDNForumForumBundle') }}"></a>
		<a href="{{ path('cc_forum_topic_reply_with_quote', {'topic_id': post.getTopic.getId, 'quote_id': post.getId }) }}"><img class="button_16x16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_comment_2.png') }}" alt="{{ 'link.post.quote' | trans({}, 'CCDNForumForumBundle') }}"></a>	
		{% endif %}
		
		{% if post.getLockedDate %}
			<img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_locked.png') }}">
		{% endif %}
		<a class="section_sub_header_link" href="#post_{{ post.getId }}">#{{ post.getId }}</a>
	</div>
</div>


<div class="section_panel">
	<div style="display:block; float:left; width:120px; margin:0px -132px 0px 0px; padding:0px; overflow:hidden; vertical-align:top; text-align:center;">
		<div style="margin: 0px; padding: 0px; overflow: hidden; vertical-align: top; text-align: center; z-index: 3;">
			
			<span class="username_medium">
				{% if post.getCreatedBy %}
				<a href="{{ path(user_profile_route, {'user_id': post.getCreatedBy.getId } ) }}">{{ post.getCreatedBy }}</a>
				{% else %}Guest{% endif %}
			</span><br><br>
			
			{% if post.getCreatedBy %}
				{% if post.getCreatedBy.getProfile %}
					{% if post.getCreatedBy.getProfile.getAvatarIsRemote %}
						{% if post.getCreatedBy.getProfile.getAvatar %}
							<img class="avatar" width="100" height="100" src="{{ post.getCreatedBy.getProfile.getAvatar }}" alt="avatar">
						{% else %}
							<img class="avatar" width="100" height="100" src="{{ asset('bundles/ccdncomponentcommon/images/profile/anonymous_avatar.gif') }}" alt="avatar">
						{% endif %}
					{% else %}
						{% if post.getCreatedBy.getProfile.getAvatar %}
							{# later on this will reference the avatarBundle asset and append the avatar onto the end #}
							{# e.g: {{ asset('bundles/ccdnuseravatar/images/avatars/') }}{{ post.getCreatedBy.getProfile.getAvatar }} #}
							<img class="avatar" width="100" height="100" src="{{ asset('bundles/ccdncomponentcommon/images/profile/anonymous_avatar.gif') }}" alt="avatar">
						{% else %}
							<img class="avatar" width="100" height="100" src="{{ asset('bundles/ccdncomponentcommon/images/profile/anonymous_avatar.gif') }}" alt="avatar">
						{% endif %}
					{% endif %}
				{% else %}
					<img class="avatar" width="100" height="100" src="{{ asset('bundles/ccdncomponentcommon/images/profile/anonymous_avatar.gif') }}" alt="avatar">
				{% endif %}
			{% else %}
				<img class="avatar" width="100" height="100" src="{{ asset('bundles/ccdncomponentcommon/images/profile/anonymous_avatar.gif') }}" alt="avatar">
			{% endif %}

			<div class="row h_align_centre padding_5">
				<img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_star.png') }}" alt="icon" 
				><img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_star.png') }}" alt="icon" 
				><img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_star.png') }}" alt="icon" 
				><img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_star.png') }}" alt="icon" 
				><img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_star.png') }}" alt="icon">
			</div>
			{% if post.getRegistry %}
			<div class="row h_align_centre padding_5">{{ 'post.user.post_count' | trans({'%post_count%': post.getRegistry.getCachePostCount}, 'CCDNForumForumBundle') }}</div>
			{% endif %}

		</div>
	</div>
	<div style="display: block; padding: 0px; overflow: hidden; vertical-align: top;">
		<div style="display: block; float: width: 100%: right; padding: 1px; margin: 0px 0px 0px 132px; overflow: hidden; vertical-align: top;">
			
			<span class="posted_on" style="padding-left: 15px;">&nbsp;{{ 'generic.posted_at' |trans({}, 'CCDNForumForumBundle') }}{{ post.getCreatedDate|date("d/m/Y - H:i:s") }}</span>

			{% if post.getEditedDate %}
				<span class="edited_on">
				&nbsp;{{ 'post.edited_by' |trans({}, 'CCDNForumForumBundle') }}
				{% if post.getEditedBy %}<a href="{{ path(user_profile_route, {'user_id': post.getEditedBy.getId}) }}">{{ post.getEditedBy.getUsername |title }}</a>{% else %}Guest{% endif %}
				{{ 'actioned.at' |trans({}, 'CCDNForumForumBundle') }}{{ post.getEditedDate |date("d/m/Y - H:i:s") }}
				</span>
			{% endif %}

			{% if post.getFlags.count > 0 %}
				<span class="common_body">
					<img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_flag.png') }}" alt="icon">
					{{ 'post.has_been_flagged' |trans({}, 'CCDNForumForumBundle') }}
				</span>
			{% endif %}
			

			{% if post.getDeletedBy %}
				<div class="round_box">
					<span class="deleted_on">
					{{ 'post.is_deleted' | trans({}, 'CCDNForumForumBundle') }} - 
					{{ 'post.deleted_by' |trans({}, 'CCDNForumForumBundle') }}
					{% if post.getDeletedBy %}{{ post.getDeletedBy.getUsername |title }}{% else %}Guest{% endif %}
					{{ 'actioned.at' |trans({}, 'CCDNForumForumBundle') }}{{ post.getCreatedDate|date("d/m/Y - H:i:s") }}
					</span>
				</div>
			{% else %}
				<div class="round_box" style="margin-left: 20px !important;">
					<img class="text_bubble_chevron" width="20" height="30" src="{{ asset('bundles/ccdnforumforum/images/text_bubble/chevron_left.png') }}" alt="chevron">
					<div style="position: relative;	top: -30px;	z-index: 2;	visibility: visible; overflow: visible;">
						<span class="common_body">
							{{ BBCode(post.getBody | raw) | raw}}<br>
						</span>
					</div>
					<span class="common_body">
						{% if post.getAttachment %}
							<br><a href="{{ path('cc_attachment_download', {'attachment_id': post.getAttachment.getId }) }}"><img width="60" height="60" src="{{ path('cc_attachment_thumbnail', {'attachment_id': post.getAttachment.getId }) }}" alt="{{ post.getAttachment.getAttachmentOriginal }}"></a><br>
						{% endif %}

						{% if post.getCreatedBy %}
							{% if post.getCreatedBy.getProfile %}
								{% if post.getCreatedBy.getProfile.getSignature %}
									<hr>{{ BBCode(post.getCreatedBy.getProfile.getSignature | raw) | raw }}
								{% endif %}
							{% endif %}
						{% endif %}
					</span>
				</div>
			{% endif %}
			
		</div>
	</div>

</div>