<div class="forum_post_avatar pull-left">

    {{ author.renderAvatar(50,50,4,0,0)|raw }}

</div>

<div class="forum_post_toolbar">
    <div class="span4">
        {{- 'ccdn_forum_forum.post.posted_by' |trans({}, 'CCDNForumForumBundle') -}}
        {{- author.getProfilePath|raw -}}

        &nbsp;&#183;

        <span class="timestamper"  title="{{- post.getCreatedDate |date('Y-m-d H:i:s T Z', 'Europe/London') -}}">
            {{- post.getCreatedDate |date(ccdn_forum_forum.item_post.post_created_datetime_format) -}}
        </span>
    </div>

    <div class="span2 pull-right buttons-right">

        <div class="btn-group">
            {%- if post.getIsLocked -%}
                <i class="icon-lock" style="vertical-align:top;margin-top:6px;" data-tip="bottom" title="{{- 'ccdn_forum_forum.post.has_been_locked' |trans({}, 'CCDNForumForumBundle') -}}"></i>&nbsp;&nbsp;
            {%- endif -%}
            {%- if post.getIsDeleted -%}
                <i class="icon-trash" style="vertical-align:top;margin-top:6px;" data-tip="bottom" title="{{- 'ccdn_forum_forum.post.has_been_deleted' |trans({}, 'CCDNForumForumBundle') -}}"></i>&nbsp;&nbsp;
            {%- endif -%}
        </div>

        {% if post.id %}
            <div class="btn-group">
                <a class="btn btn-mini" rel="tooltip" title="Expand" href="{{- path('ccdn_forum_forum_post_show', {'postId': post.getId }) -}}"><i class="icon-fullscreen"></i></a>
                <a class="btn btn-mini" rel="tooltip" title="Magnet link" href="#post_{{- post.getId -}}"><i class="icon-magnet"></i></a>
            </div>

            {%- if is_granted('ROLE_USER') -%}
                <div class="dropdown btn-group">
                    <a class="dropdown-toggle btn btn-mini" rel="tooltip" title="Extra" data-toggle="dropdown" href="#"><i class="icon-cog"></i>&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu pull-right" style="z-index:15;">

                        <li><a rel="nofollow" href="{{- path('ccdn_forum_forum_topic_reply', {'topicId': post.getTopic.getId }) -}}"><i class="icon-pencil"></i>&nbsp;{{- 'ccdn_forum_forum.link.post.reply' | trans({}, 'CCDNForumForumBundle') -}}</a></li>
                        <li><a rel="nofollow" href="{{- path('ccdn_forum_forum_topic_reply_with_quote', {'topicId': post.getTopic.getId, 'quoteId': post.getId }) -}}"><i class="icon-pencil"></i>&nbsp;{{- 'ccdn_forum_forum.link.post.quote' | trans({}, 'CCDNForumForumBundle') -}}</a></li>

                        {%- if post.getCreatedBy -%}
                            {%- if post.getCreatedBy.getId == user.getId and not is_granted('ROLE_MODERATOR') -%}
                                <li><a rel="nofollow" href="{{- path('ccdn_forum_forum_post_edit', {'postId': post.getId }) -}}"><i class="icon-pencil"></i>&nbsp;{{- 'ccdn_forum_forum.link.post.edit' | trans({}, 'CCDNForumForumBundle') -}}</a></li>
                                {%- if not post.getDeletedBy -%}
                                    <li><a rel="nofollow" href="{{- path('ccdn_forum_forum_post_delete', {'postId': post.getId }) -}}"><i class="icon-trash"></i>&nbsp;{{- 'ccdn_forum_forum.link.post.delete' | trans({}, 'CCDNForumForumBundle') -}}</a></li>
                                {%- endif -%}
                            {%- endif -%}
                        {%- endif -%}

                        {%- if is_granted('ROLE_MODERATOR') -%}
                            <li><a rel="nofollow" href="{{- path('ccdn_forum_forum_post_edit', {'postId': post.getId }) -}}"><i class="icon-pencil"></i>&nbsp;{{- 'ccdn_forum_forum.link.post.edit' | trans({}, 'CCDNForumForumBundle') -}}</a></li>

                            {%- if post.isDeleted -%}
                                <li>
                                    <a rel="nofollow" href="{{- path('ccdn_forum_admin_post_restore', {'postId': post.getId }) -}}">
                                        <i class="icon-trash"></i>&nbsp;{{- 'ccdn_forum_forum.link.post.restore' | trans({}, 'CCDNForumForumBundle') -}}
                                    </a>
                                </li>
                            {%- else -%}
                                <li>
                                    <a rel="nofollow" href="{{- path('ccdn_forum_forum_post_delete', {'postId': post.getId }) -}}">
                                        <i class="icon-trash"></i>&nbsp;{{- 'ccdn_forum_forum.link.post.delete' | trans({}, 'CCDNForumForumBundle') -}}
                                    </a>
                                </li>
                            {%- endif -%}

                            {%- if post.isLocked -%}
                                <li>
                                    <a rel="nofollow" href="{{- path('ccdn_forum_admin_post_unlock', {'postId': post.getId }) -}}">
                                        <i class="icon-lock"></i>&nbsp;{{- 'ccdn_forum_forum.link.post.unlock' | trans({}, 'CCDNForumForumBundle') -}}
                                    </a>
                                </li>
                            {%- else -%}
                                <li>
                                    <a rel="nofollow" href="{{- path('ccdn_forum_admin_post_lock', {'postId': post.getId }) -}}">
                                        <i class="icon-lock"></i>&nbsp;{{- 'ccdn_forum_forum.link.post.lock' | trans({}, 'CCDNForumForumBundle') -}}
                                    </a>
                                </li>
                            {%- endif -%}
                        {%- endif -%}
                    </ul>
                </div>
            {%- endif -%}
        {% endif %}
    </div>
</div>

<div class="forum_post_toolbar">

    <div class="span4">
        {{- author.renderRoleBadges|raw -}}
    </div>

</div>
