{%- spaceless -%}
	<div style="display: block; clear: both;">
		<div style="display:block; float:left; width:105px; margin:0px -106px 0px 0px; padding:0px; overflow:hidden; vertical-align:top; text-align:center;">
			<div style="margin: 0px; padding: 5px 0; overflow: hidden; vertical-align: top; text-align: center; z-index: 3;">

			{#	{%- include 'CCDNUserProfileBundle:Avatar:item_avatar.html.twig' with {'user': post.getCreatedBy} -%} #}

			</div>
		</div>
		<div style="display: block; padding: 0px; overflow: hidden; vertical-align: top;">
			<div style="display: block; padding: 1px; margin: 0px 0px 0px 106px; overflow: hidden; vertical-align: top;">

				<div class="speech_bubble">
					<div class="chevron">
						<img width="20" height="30" src="{{- asset('bundles/ccdnforumforum/images/text_bubble/chevron_left.png') -}}" alt="chevron">
					</div>

					<div class="content">
						<div style="clear:both;">
							<div class="pull-left">
								<span class="">
									{%- if post.getCreatedBy -%}
									<a href="{{- path(user_profile_route, {'userId': post.getCreatedBy.getId }) -}}">{{- post.getCreatedBy |title -}}</a>
									{%- else -%}
									Guest
									{%- endif -%}
								</span>&nbsp;&nbsp;
								<span class="item_timestamp">
									{{- post.getCreatedDate |date(ccdn_forum_forum.item_post.post_created_datetime_format) -}}
								</span>

							</div>
						</div>
						<div style="clear: both;">
							<hr>
							<span class="common_body">
								{{- BBCode(post.getBody | raw, ccdn_forum_forum.item_post.enable_bb_parser) | raw -}}
								<br>
							</span>
							<span class="common_body">
								{%- if post.getAttachment -%}
									<br><a href="{{- path('ccdn_component_attachment_download', {'attachmentId': post.getAttachment.getId }) -}}"><img width="60" height="60" src="{{- path('ccdn_component_attachment_thumbnail', {'attachmentId': post.getAttachment.getId }) -}}" alt="{{- post.getAttachment.getFilenameOriginal -}}"></a><br>
								{%- endif -%}
							</span>
							<br><hr>
							<span class="common_body">
								{%- if post.getCreatedBy -%}
									{%- if post.getCreatedBy.getProfile -%}
										{%- if post.getCreatedBy.getProfile.getSignature -%}
											{{- BBCode(post.getCreatedBy.getProfile.getSignature | raw, ccdn_forum_forum.item_signature.enable_bb_parser) | raw -}}
										{%- endif -%}
									{%- endif -%}
								{%- endif -%}
							</span>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
{%- endspaceless -%}
