{% extends param('ccdn_forum_forum.post.show.layout_template') %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{- asset('bundles/ccdncomponentcommon/css/speech_bubble.css') -}}" rel="stylesheet" type="text/css">
	<link href="{{- asset('bundles/ccdncomponentbbcode/css/bbcode.css') -}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}{{- truncDot('title.post.show' | trans({'%post_id%': post.getId, '%topic_title%': post.getTopic.getTitle |capitalize }, 'CCDNForumForumBundle'), param('ccdn_forum_forum.seo.title_length')) -}}{% endblock %}

{% block sidebar %}
	{{ parent() }}

	{%- include 'CCDNForumForumBundle:Sidebar:sidebar.html.twig' -%}
	
{% endblock %}

{% block sidebar_actions %}
	{{ parent() }}
	
	{%- include 'CCDNForumForumBundle:Sidebar:sidebar_actions.html.twig' -%}
	
{% endblock %}


{% block body %}

	{%- spaceless -%}

	{%- include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' -%}

	{%- if topic.closedDate -%}
	<div class="alert alert-error">&nbsp;
		{{- 'topic.closed_by' | trans({}, 'CCDNForumForumBundle') -}}&nbsp;
		{%- if topic.getClosedBy -%}<a href="{{- path(user_profile_route, {'user_id': topic.getClosedBy.getId } ) -}}">{{- topic.getClosedBy.getUsername -}}</a>{%- else -%}Unknown{%- endif -%}&nbsp;
		{{- topic.getClosedDate |date(param('ccdn_forum_forum.topic.show.topic_closed_datetime_format')) -}}
	</div>
	{%- endif -%}

	{%- if topic.deletedDate -%}
	<div class="alert alert-error">&nbsp;
		{{- 'topic.deleted_by' | trans({}, 'CCDNForumForumBundle') -}}&nbsp;
		{%- if topic.getDeletedBy -%}<a href="{{- path(user_profile_route, {'user_id': topic.getDeletedBy.getId }) -}}">{{- topic.getDeletedBy.getUsername -}}</a>{%- else -%}Unknown{%- endif -%}&nbsp;
		{{- topic.getDeletedDate |date(param('ccdn_forum_forum.topic.show.topic_deleted_datetime_format')) -}}
	</div>
	{%- endif -%}
	
	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}
	
	<h2><abbr title="{{- topic.getTitle -}}">{{- truncDot(topic.getTitle |capitalize, 70) -}}</abbr></h2>
	
	<br>	

	<span class="badge badge-info">{{- 'topic.reply_count' |trans({}, 'CCDNForumForumBundle') -}}&nbsp;{{- topic.cachedReplyCount -}}</span>&nbsp;
	<span class="badge badge-info">{{- 'topic.view_count' |trans({}, 'CCDNForumForumBundle') -}}&nbsp;{{- topic.cachedViewCount -}}</span>&nbsp;

	{%- if subscription_count is defined -%}
		<span class="badge badge-info">{{- 'topic.subscription_count' |trans({}, 'CCDNForumForumBundle') -}}&nbsp;{{- subscription_count -}}</span>&nbsp;
	{%- endif -%}
	
	{%- if topic.isSticky -%}
	<span class="label label-important">
		<i class="icon-white icon-bullhorn"></i>&nbsp;
		{{- 'topic.stickied_by' | trans({}, 'CCDNForumForumBundle') -}}&nbsp;
		{%- if topic.getStickiedBy -%}{{- topic.getStickiedBy.getUsername -}}{%- else -%}Unknown{%- endif -%}&nbsp;
		{{- topic.getStickiedDate |date(param('ccdn_forum_forum.topic.show.topic_deleted_datetime_format')) -}}
	</span>&nbsp;
	{%- endif -%}

	{%- if topic.isClosed -%}
	<span class="label label-important">
		<i class="icon-white icon-lock"></i>&nbsp;
		{{- 'topic.closed_by' | trans({}, 'CCDNForumForumBundle') -}}&nbsp;
		{%- if topic.getClosedBy -%}{{- topic.getClosedBy.getUsername -}}{%- else -%}Unknown{%- endif -%}&nbsp;
		{{- topic.getClosedDate |date(param('ccdn_forum_forum.topic.show.topic_closed_datetime_format')) -}}
	</span>&nbsp;
	{%- endif -%}

	{%- if topic.isDeleted -%}
	<span class="label label-important">
		<i class="icon-white icon-trash"></i>&nbsp;
		{{- 'topic.deleted_by' | trans({}, 'CCDNForumForumBundle') -}}&nbsp;
		{%- if topic.getDeletedBy -%}{{- topic.getDeletedBy.getUsername -}}{%- else -%}Unknown{%- endif -%}&nbsp;
		{{- topic.getDeletedDate |date(param('ccdn_forum_forum.topic.show.topic_deleted_datetime_format')) -}}
	</span>&nbsp;
	{%- endif -%}
	
	{%- include "CCDNForumForumBundle:Post:item_post.html.twig" -%}

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	{%- endspaceless -%}

{% endblock %}