{%- spaceless -%}
	{%- set route = app.request.attributes.get('_route') -%}

	{%- if topic is not defined -%}
		{%- if post is defined -%}
			{%- set topic = post.getTopic -%}
		{%- endif -%}
	{%- endif -%}

	{%- if board is not defined -%}
		{%- if topic is defined -%}
			{%- set board = topic.getBoard -%}
		{%- else -%}
			{%- if post is defined -%}
				{%- set board = post.getTopic.getBoard -%}
			{%- endif -%}
		{%- endif -%}
	{%- endif -%}


	<li class="nav-header">{{- 'ccdn_forum_forum.sidebar.header.navigation' | trans({}, 'CCDNForumForumBundle') -}}</li>
	{%- if route == 'ccdn_forum_forum_home_root' or route == 'ccdn_forum_forum_index' or route == 'ccdn_forum_forum_category_index' -%}
		<li class="active"><a href="{{- path('ccdn_forum_forum_index') -}}"><i class="icon-white icon-home"></i>&nbsp;{{- 'ccdn_forum_forum.sidebar.link.forum_index' |trans({}, 'CCDNForumForumBundle') -}}</a></li>
	{%- else -%}
		<li><a href="{{- path('ccdn_forum_forum_index') -}}"><i class="icon-home"></i>&nbsp;{{- 'ccdn_forum_forum.sidebar.link.forum_index' |trans({}, 'CCDNForumForumBundle') -}}</a></li>
	{%- endif -%}

	{%- if is_granted('ROLE_USER') -%}
		{%- if route == 'ccdn_forum_forum_subscription_list' -%}
			<li class="active"><a rel="nofollow" href="{{- path('ccdn_forum_forum_subscription_list') -}}"><i class="icon-white icon-heart"></i>&nbsp;{{- 'ccdn_forum_forum.sidebar.link.subscriptions' | trans({}, 'CCDNForumForumBundle') -}}</a></li>
		{%- else -%}
			<li><a rel="nofollow" href="{{- path('ccdn_forum_forum_subscription_list') -}}"><i class="icon-heart"></i>&nbsp;{{- 'ccdn_forum_forum.sidebar.link.subscriptions' | trans({}, 'CCDNForumForumBundle') -}}</a></li>
		{%- endif -%}

{#		{%- if route == 'ccdn_forum_forum_draft_list' -%}
			<li class="active"><a rel="nofollow" href="{{- path('ccdn_forum_forum_draft_list') -}}"><i class="icon-white icon-pencil"></i>&nbsp;{{- 'ccdn_forum_forum.sidebar.link.drafts' | trans({}, 'CCDNForumForumBundle') -}}</a></li>
		{%- else -%}
			<li><a rel="nofollow" href="{{- path('ccdn_forum_forum_draft_list') -}}"><i class="icon-pencil"></i>&nbsp;{{- 'ccdn_forum_forum.sidebar.link.drafts' | trans({}, 'CCDNForumForumBundle') -}}</a></li>
		{%- endif -%}
#}	{%- endif -%}


	{%- set sidebar_categories = board_list() -%}

	{%- if sidebar_categories is not null -%}
		{%- for sidebar_category in sidebar_categories -%}
			{%- if sidebar_category.boards |length -%}
				<li class="nav-header">{{- truncDot(sidebar_category.name, 15) -}}</li>
				{%- for sidebar_board in sidebar_category.boards -%}
					{%- if sidebar_board is defined -%}
						{%- if board is defined -%}
							{%- if sidebar_board.id == board.id and route != 'ccdn_forum_forum_topic_create' and route != 'ccdn_forum_forum_topic_reply' -%}
								<li class="active"><a href="{{- path('ccdn_forum_forum_board_show', {'boardId': sidebar_board.id}) -}}" title="{{- sidebar_board.name -}}"><i class="icon-white icon-folder-close"></i>&nbsp;{{- truncDot(sidebar_board.name, 20) -}}</a></li>
							{%- else -%}
								<li><a href="{{- path('ccdn_forum_forum_board_show', {'boardId': sidebar_board.id}) -}}" title="{{- sidebar_board.name -}}"><i class="icon-folder-close"></i>&nbsp;{{- truncDot(sidebar_board.name, 20) -}}</a></li>
							{%- endif -%}
						{%- else -%}
							<li><a href="{{- path('ccdn_forum_forum_board_show', {'boardId': sidebar_board.id}) -}}" title="{{- sidebar_board.name -}}"><i class="icon-folder-close"></i>&nbsp;{{- truncDot(sidebar_board.name, 20) -}}</a></li>
						{%- endif -%}
					{%- else -%}
						<li><a href="{{- path('ccdn_forum_forum_board_show', {'boardId': sidebar_board.id}) -}}" title="{{- sidebar_board.name -}}"><i class="icon-folder-close"></i>&nbsp;{{- truncDot(sidebar_board.name, 20) -}}</a></li>
					{%- endif -%}
				{%- endfor -%}
			{%- endif -%}
		{%- endfor -%}
	{%- endif -%}



	{%- if board is defined or topic is defined -%}
		{%- if is_granted('ROLE_USER') -%}
			<li class="nav-header">{{- 'ccdn_forum_forum.sidebar.header.tools' | trans({}, 'CCDNForumForumBundle') -}}</li>

			{%- if board is defined -%}
				{%- if route == 'ccdn_forum_forum_topic_create' -%}
					<li class="active"><a rel="nofollow" href="{{- path('ccdn_forum_forum_topic_create', {'boardId': board.getId }) -}}"><i class="icon-white icon-asterisk"></i>&nbsp;{{- 'ccdn_forum_forum.sidebar.link.create_new_topic' | trans({}, 'CCDNForumForumBundle') -}}</a></li>
				{%- else -%}
					<li><a rel="nofollow" href="{{- path('ccdn_forum_forum_topic_create', {'boardId': board.getId }) -}}"><i class="icon-asterisk"></i>&nbsp;{{- 'ccdn_forum_forum.sidebar.link.create_new_topic' | trans({}, 'CCDNForumForumBundle') -}}</a></li>
				{%- endif -%}
			{%- endif -%}

			{%- if topic is defined -%}
				{%- if route == 'ccdn_forum_forum_topic_reply' -%}
					<li class="active"><a rel="nofollow" href="{{- path('ccdn_forum_forum_topic_reply', {'topicId': topic.getId }) -}}"><i class="icon-white icon-comment"></i>&nbsp;{{- 'ccdn_forum_forum.sidebar.link.reply_to_topic' | trans({}, 'CCDNForumForumBundle') -}}</a></li>
				{%- else -%}
					<li><a rel="nofollow" href="{{- path('ccdn_forum_forum_topic_reply', {'topicId': topic.getId }) -}}"><i class="icon-comment"></i>&nbsp;{{- 'ccdn_forum_forum.sidebar.link.reply_to_topic' | trans({}, 'CCDNForumForumBundle') -}}</a></li>
				{%- endif -%}
			{%- endif -%}
		{%- endif -%}
	{%- endif -%}

{%- endspaceless -%}
