{% spaceless %}
{#	{% set categories = board_list() %}

	{% if categories is not null %}
		<div class="hidden" data-compat="interactive-js-compat">
			<div class="btn-group">
				<button class="btn dropdown-toggle" style="width:100%;margin-bottom:5px;" data-toggle="dropdown"><span class="caret"></span></button>
				<ul class="dropdown-menu" style="z-index:20;margin-top:5px;">
				{% for category in categories %}
					<li style="padding-left:10px;"><h4>{{ category.name }}</h4></li>
					{% for board in category.boards %}
						<li><a href="{{ path('cc_forum_board_show', {'board_id': board.id}) }}"><i class="icon-folder-close"></i>&nbsp;{{ board.name }}</a></li>
					{% endfor %}
				{% endfor %}
				</ul>
			</div>
		</div>
	{% endif %}#}
	
	
	{% if topic is defined %}

		{% if is_granted('ROLE_USER') %}
			<div class="sidebar">
				{% if subscription is defined %}
					{% if subscription is not null %}
						{% if subscription.isSubscribed == true %}
							<a class="btn" href="{{ path('cc_forum_subscriptions_unsubscribe', {'topic_id': topic.getId }) }}"><i class="icon-eye-close"></i>&nbsp;{{ 'sidebar.link.topic_unsubscribe' | trans({}, 'CCDNForumForumBundle') }}</a>
						{% else %}
							<a class="btn" href="{{ path('cc_forum_subscriptions_subscribe', {'topic_id': topic.getId }) }}"><i class="icon-eye-open"></i>&nbsp;{{ 'sidebar.link.topic_subscribe' | trans({}, 'CCDNForumForumBundle') }}</a>
						{% endif %}
					{% else %}
						<a class="btn" href="{{ path('cc_forum_subscriptions_subscribe', {'topic_id': topic.getId }) }}"><i class="icon-eye-open"></i>&nbsp;{{ 'sidebar.link.topic_subscribe' | trans({}, 'CCDNForumForumBundle') }}</a>						
					{% endif %}
				{% else %}
					<a class="btn" href="{{ path('cc_forum_subscriptions_subscribe', {'topic_id': topic.getId }) }}"><i class="icon-eye-open"></i>&nbsp;{{ 'sidebar.link.topic_subscribe' | trans({}, 'CCDNForumForumBundle') }}</a>
				{% endif %}
			</div>
		{% endif %}

		{% if is_granted('ROLE_MODERATOR') %}
			<div class="sidebar">
				{% if topic.isSticky %}
					<a class="btn btn-warning" href="{{ path('cc_moderator_forum_topic_unsticky', {'topic_id': topic.getId }) }}"><i class="icon-white icon-bullhorn"></i>&nbsp;{{ 'link.topic.unsticky' |trans({}, 'CCDNForumModeratorBundle') }}</a>
				{% else %}
					<a class="btn btn-warning" href="{{ path('cc_moderator_forum_topic_sticky', {'topic_id': topic.getId }) }}"><i class="icon-white icon-bullhorn"></i>&nbsp;{{ 'link.topic.sticky' |trans({}, 'CCDNForumModeratorBundle') }}</a>
				{% endif %}
			
				<a class="btn btn-warning" href="{{ path('cc_moderator_forum_topic_change_board', {'topic_id': topic.getId }) }}"><i class="icon-white icon-move"></i>&nbsp;{{ 'link.topic.change_board' | trans({}, 'CCDNForumForumBundle') }}</a>
			
				{% if topic.closedBy %}
					<a class="btn btn-warning" href="{{ path('cc_moderator_forum_topic_reopen', {'topic_id': topic.getId }) }}"><i class="icon-white icon-lock"></i>&nbsp;{{ 'link.topic.reopen' | trans({}, 'CCDNForumForumBundle') }}</a>
				{% else %}
					<a class="btn btn-danger" href="{{ path('cc_moderator_forum_topic_close', {'topic_id': topic.getId }) }}"><i class="icon-white icon-lock"></i>&nbsp;{{ 'link.topic.close' | trans({}, 'CCDNForumForumBundle') }}</a>
				{% endif %}
			
				{% if topic.deletedBy %}
					<a class="btn btn-warning" href="{{ path('cc_moderator_forum_topic_restore', {'topic_id': topic.getId }) }}"><i class="icon-white icon-trash"></i>&nbsp;{{ 'link.topic.restore' |trans({}, 'CCDNForumForumBundle') }}</a>
				{% else %}
					<a class="btn btn-danger" href="{{ path('cc_moderator_forum_topic_delete', {'topic_id': topic.getId }) }}"><i class="icon-white icon-trash"></i>&nbsp;{{ 'link.topic.delete' |trans({}, 'CCDNForumForumBundle') }}</a>
				{% endif %}
			</div>
		{% endif %}

	{% endif %}
{% endspaceless %}