{%- spaceless -%}
	{%- set route = app.request.attributes.get('_route') -%}

	{%- if topic is not defined -%}
		{%- if post is defined -%}
			{%- set topic = post.getTopic -%}
		{%- endif -%}
	{%- endif -%}

	{%- if board is not defined -%}
		{%- if topic is defined -%}
			{%- set board = topic.getBoard -%}
		{%- else -%}
			{%- if post is defined -%}
				{%- set board = topic.getBoard -%}
			{%- endif -%}
		{%- endif -%}
	{%- endif -%}

	{%- if category is not defined -%}
		{%- if board is defined -%}
			{%- set category = board.getCategory -%}
		{%- else -%}
			{%- if topic is defined -%}
				{%- set category = topic.getBoard -%}
			{%- endif -%}
		{%- endif -%}
	{%- endif -%}

	<li class="nav-header">
		{{- 'ccdn_forum_forum.sidebar.header.navigation' | trans({}, 'CCDNForumForumBundle') -}}
	</li>
	
	{%- if route == 'ccdn_homepage' or route == 'ccdn_forum_forum_index' or route == 'ccdn_forum_forum_category_index' -%}
		<li class="active">
			<a href="{{- path('ccdn_forum_forum_index') -}}">
				<i class="icon-white icon-home"></i>
				{{- 'ccdn_forum_forum.sidebar.link.forum_index' |trans({}, 'CCDNForumForumBundle') -}}
			</a>
		</li>
	{%- else -%}
		<li>
			<a href="{{- path('ccdn_forum_forum_index') -}}">
				<i class="icon-home"></i>
				{{- 'ccdn_forum_forum.sidebar.link.forum_index' |trans({}, 'CCDNForumForumBundle') -}}
			</a>
		</li>
	{%- endif -%}

	{%- if is_granted('ROLE_USER') -%}
		{%- if route == 'ccdn_forum_forum_subscription_list' -%}
			<li class="active">
				<a rel="nofollow" href="{{- path('ccdn_forum_forum_subscription_list') -}}">
					<i class="icon-white icon-heart"></i>
					{{- 'ccdn_forum_forum.sidebar.link.subscriptions' | trans({}, 'CCDNForumForumBundle') -}}
				</a>
			</li>
		{%- else -%}
			<li>
				<a rel="nofollow" href="{{- path('ccdn_forum_forum_subscription_list') -}}">
					<i class="icon-heart"></i>
					{{- 'ccdn_forum_forum.sidebar.link.subscriptions' | trans({}, 'CCDNForumForumBundle') -}}
				</a>
			</li>
		{%- endif -%}

		{#
		{%- if route == 'ccdn_forum_forum_draft_list' -%}
			<li class="active"><a rel="nofollow" href="{{- path('ccdn_forum_forum_draft_list') -}}"><i class="icon-white icon-pencil"></i>{{- 'ccdn_forum_forum.sidebar.link.drafts' | trans({}, 'CCDNForumForumBundle') -}}</a></li>
		{%- else -%}
			<li><a rel="nofollow" href="{{- path('ccdn_forum_forum_draft_list') -}}"><i class="icon-pencil"></i>{{- 'ccdn_forum_forum.sidebar.link.drafts' | trans({}, 'CCDNForumForumBundle') -}}</a></li>
		{%- endif -%}
		#}
	{%- endif -%}

	<li class="divider"></li>
	
	{%- include 'CCDNForumForumBundle:Sidebar:board_list.html.twig' -%}

{%- endspaceless -%}
