<!DOCTYPE html>
<html>
<head>
	<!-- Metadata -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- CSS Files -->
	<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
	<link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" media="screen">
	<link href="{{ asset('css/animate.css') }}" rel="stylesheet" media="screen">
	<link href="{{ asset('css/style.css') }}" rel="stylesheet" media="screen">
	{% block customcss %}
	{% endblock %}

	<!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
	{% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

	<title>eFIS - Coffee-Bike GmbH</title>
</head>

<body class="md-skin fixed-sidebar fixed-nav   pace-done">  <!-- TODO: Try md-skin -->
<div id="wrapper">
	<nav class="navbar-default navbar-static-side " role="navigation">
		<div class="sidebar-collapse">
			<ul class="nav" id="side-menu">
				<li class="nav-header">
					<div class="dropdown profile-element">
						<span><img alt="profile-image" class="img-circle" src="{{ asset('img/profile_small.jpg') }}"></span>
						<a data-toggle="dropdown" class="dropdown-toggle" href="#">
							<span class="clear"> </span> <span class="block m-t-xs"></span> <strong class="font-bold">{#{{ render(controller('AppBundle:Default:getUsername')) }}#}</strong></span>
							<span class="text-muted text-xs block">Coffee-Bike GmbH <i class="caret"></i></span> </span>
						</a>
						<ul class="dropdown-menu animated fadeInRight m-t-xs">
							<li>
								<a href="#">
									<i class="fa fa-fw fa-sign-out"></i> {{ 'link.logout'|trans }}
								</a>
							</li>
						</ul>
					</div>
					<div class="logo-element">
						CB
					</div>
				</li>
				{% include 'menu.html.twig' %}
			</ul>
		</div>
	</nav>

	<div id="page-wrapper" class="gray-bg">
		<div class="row border-bottom">
			<nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0">
				<div class="navbar-header">
					<a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#"><i class="fa fa-fw fa-bars"></i></a>
					<form role="search" class="navbar-form-custom" method="post" action="#">
						<div class="form-group">
							<input type="text" placeholder="{{ 'label.search'|trans }}" class="form-control"
								   name="top-search" id="top-search">
						</div>
					</form>
				</div>
				<ul class="nav navbar-top-links navbar-right">
					<li><span class="m-r-sm text-muted welcome-message">{{ "now"|date("d.m.Y") }}</span></li>
					<li>
						<a href="#">
							<i class="fa fa-fw fa-sign-out"></i> {{ 'link.logout'|trans }}
						</a>
					</li>
				</ul>
			</nav>
		</div>

		<div class="row wrapper border-bottom white-bg page-heading">
			<div class="col-lg-8">

				<h2>{{ page_title }}</h2>
				<ol class="breadcrumb">
					<li><a href="">{{ 'home'|trans }}</a></li>
					{% block breadcrumbs %}{% endblock %}
				</ol>
			</div>
			<div class="col-sm-4">
				<div class="title-action"><a href="#" class="btn btn-primary">Action</a></div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="wrapper wrapper-content animated fadeInRight">
					{% block content %}{% endblock %}
				</div>

			</div>
			<div class="footer foxed">
				<div><strong>Copyright</strong> &copy; 2015 Coffee-Bike GmbH</div>
			</div>
		</div>
	</div>

</div>

<!-- Mainly scripts -->
<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
<script src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

<!-- Custom and plugin javascript -->
<script src="{{ asset('js/inspinia.js') }}"></script>
<script src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>
{% block customjs %}{% endblock %}
</body>
</html>