{% extends 'CCDNForumForumBundle:Admin:/Layout/base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.topic.create.layout_template %}

{% block title %}{% endblock %}


{%- block body_content -%}

	{%- spaceless -%}
	
		<section>
			<a class="btn btn-primary" href="{{- path('ccdn_forum_admin_category_create', {'forum_filter': forum_filter}) -}}">
				Create Category
			</a>
		</section>
	
		<section class="span12">
			<ul class="nav nav-list span2">
				<li class="nav-header">
					Forums
				</li>
				
				<li {%- if forum_filter is null or forum_filter == '' %} class="active" {%- endif -%}>
					<a href="{{- path('ccdn_forum_admin_category_list') -}}">
						<i class="icon-exclamation-sign"></i>
						Unassigned
					</a>
				</li>
				{%- for forum in forums -%}
					<li {%- if forum_filter == forum.id %} class="active" {%- endif -%}>
						<a href="{{- path('ccdn_forum_admin_category_list', {'forum_filter': forum.id}) -}}" title="{{- forum.name -}}">
							
							<span class="ellipsis">
								{{- forum.name -}}
							</span>
							
							<span class="label pull-right">
								{{- forum.getCategories | length -}}
							</span>
							
						</a>
					</li>
				{%- endfor -%}
			</ul>
		
			<div class="span9">
				<table class="table table-bordered" id="admin-categories-list">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Board Count</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{%- for category_index, category in categories -%}
							<tr>
								<td>{{- category.id -}}</td>
								<td>{{- category.name -}}</td>
								<td>{{- category.boards |length -}}</td>
								<td>
									<a class="btn" href="{{- path('ccdn_forum_admin_category_edit', {'categoryId': category.id, 'forum_filter': forum_filter}) -}}"
									 id="update_category[{{- category.name -}}]">
										Edit
									</a>

									{%- if is_granted('ROLE_SUPER_ADMIN') -%}
										<a class="btn btn-danger" href="{{- path('ccdn_forum_admin_category_delete', {'categoryId': category.id, 'forum_filter': forum_filter}) -}}"
										 id="delete_category[{{- category.name -}}]">
											Delete
										</a>
									{%- endif -%}
									
									{%- if forum_filter is not null and forum_filter != '' %}
										{% if loop.length > 1 %}
											<div class="btn-group">
												<a class="btn" href="{{- path('ccdn_forum_admin_category_reorder_up', {'categoryId': category.id, 'forum_filter': forum_filter}) -}}"
												 id="reorder_up_category[{{- category.name -}}]">
													{%- if loop.first -%}
														<i class="icon-retweet"></i>
													{%- else -%}
														<i class="icon-chevron-up"></i>
													{%- endif -%}
												</a>
												
												<a class="btn" href="{{- path('ccdn_forum_admin_category_reorder_down', {'categoryId': category.id, 'forum_filter': forum_filter}) -}}"
												 id="reorder_down_category[{{- category.name -}}]">
													{%- if loop.last -%}
														<i class="icon-retweet"></i>
													{%- else -%}
														<i class="icon-chevron-down"></i>
													{%- endif -%}
												</a>
											</div>
										{%- endif -%}
									{%- endif -%}
								</td>
							</tr>
						{%- endfor -%}
					</tbody>
				</table>
			</div>
		</section>
		
	{%- endspaceless -%}
	
{%- endblock body_content -%}
