{%- spaceless -%}

	<div class="row clearfix">
	    <div class="col-md-7">
			<h3 class="panel-title">
				{%- if post.getCreatedBy -%}
			        {{- 'post.posted-by' |trans({}, 'CCDNForumForumBundle') |raw -}}
					{{- post.getCreatedBy.username -}}

			        &nbsp;&#183;&nbsp;

				{%- endif -%}

		        <span class="timestamper" title="{{- post.getCreatedDate |date('Y-m-d H:i:s T Z', 'Europe/London') -}}">
		            {{- post.getCreatedDate |date(ccdn_forum_forum.item_post.created_datetime_format) -}}
		        </span>
			</h3>
	    </div>

	    <div class="col-md-5 pull-right text-right">
	        {% if post.id and not post.isDeleted %}
	            <div class="btn-group">
	                <a class="btn btn-xs btn-icon-only" title="show post"
					 href="{{- path('ccdn_forum_user_post_show', {'forumName': forumName, 'postId': post.getId }) -}}">
						<i class="glyphicon glyphicon-fullscreen"></i>
					</a>
	                <a class="btn btn-xs btn-icon-only" href="#post_{{- post.getId -}}">
						<i class="glyphicon glyphicon-link"></i>
					</a>
	            </div>
	        {% endif %}

            {%- if is_granted('ROLE_USER') and post.id and (is_granted('ROLE_MODERATOR') or not post.isDeleted) -%}
				&nbsp;
                <div class="dropdown btn-group text-left">
                    <a class="dropdown-toggle btn btn-xs btn-icon-only" data-toggle="dropdown" href="#">
						<i class="glyphicon glyphicon-cog"></i>
						<span class="caret"></span>
					</a>
                    <ul class="dropdown-menu pull-right content-left" style="z-index:15;">

						{%- if canReplyToTopic(post.getTopic) -%}
	                        <li>
								<a rel="nofollow"
								 href="{{- path('ccdn_forum_user_topic_reply', {'forumName': forumName, 'topicId': post.getTopic.getId }) -}}">
									<i class="glyphicon glyphicon-pencil"></i>
									{{- 'link.topic.reply' | trans({}, 'CCDNForumForumBundle') -}}
								</a>
							</li>
						{%- endif -%}

						{%- if canEditPost(post) -%}
                            <li>
								<a rel="nofollow" id="post_edit[{{- post.getBody |slice(0,24) -}}]"
								 href="{{- path('ccdn_forum_user_post_edit', {'forumName': forumName, 'postId': post.getId }) -}}">
									<i class="glyphicon glyphicon-pencil"></i>
									{{- 'link.edit' | trans({}, 'CCDNForumForumBundle') -}}
								</a>
							</li>
						{%- endif -%}

                        {%- if canDeletePost(post) -%}
                            <li>
								<a rel="nofollow"
								 href="{{- path('ccdn_forum_user_post_delete', {'forumName': forumName, 'postId': post.getId }) -}}">
									<i class="glyphicon glyphicon-trash"></i>
									{{- 'link.post.delete' | trans({}, 'CCDNForumForumBundle') -}}
								</a>
							</li>
                        {%- endif -%}

						{%- if canRestorePost(post) -%}
                            <li>
                                <a rel="nofollow" href="{{- path('ccdn_forum_moderator_post_restore', {'forumName': forumName, 'postId': post.getId }) -}}">
                                    <i class="glyphicon glyphicon-trash"></i>
									{{- 'link.post.restore' | trans({}, 'CCDNForumForumBundle') -}}
                                </a>
                            </li>
                        {%- endif -%}

						{%- if canLockPost(post) -%}
                            <li>
                                <a rel="nofollow" href="{{- path('ccdn_forum_moderator_post_lock', {'forumName': forumName, 'postId': post.getId }) -}}">
                                    <i class="glyphicon glyphicon-lock"></i>
									{{- 'link.post.lock' | trans({}, 'CCDNForumForumBundle') -}}
                                </a>
                            </li>
						{%- endif -%}

						{%- if canUnlockPost(post) -%}
                            <li>
                                <a rel="nofollow" href="{{- path('ccdn_forum_moderator_post_unlock', {'forumName': forumName, 'postId': post.getId }) -}}">
                                    <i class="glyphicon glyphicon-lock"></i>
									{{- 'link.post.unlock' | trans({}, 'CCDNForumForumBundle') -}}
                                </a>
                            </li>
                        {%- endif -%}

                    </ul>
                </div>
            {%- endif -%}
		</div>
	</div>

{%- endspaceless -%}
