{%- spaceless -%}
	<a class="forum-avatar" href="#">
	     <img class="img-thumbnail" src="{{ asset(profilepicture.getAvatarPath(topic.getFirstPost.getCreatedBy)) }}" style="max-width: none; width: 48px; height: 48px; !important;">
			<div class="author-info">
			<strong>Name: </strong> {{- post.getCreatedBy.name -}}<br>
			<strong>Posted: </strong> {{- post.getCreatedDate |date('d.m.Y H:i:s') -}} <br>
		</div>
	</a>


	    <div class="col-md-5 pull-right text-right">


            {%- if is_granted('ROLE_USER') and post.id and (is_granted('ROLE_SUPER_ADMIN') or not post.isDeleted) -%}
				&nbsp;
                <div class="dropdown btn-group text-left">
                    <a class="dropdown-toggle btn btn-xs btn-icon-only" data-toggle="dropdown" href="#">
						<i class="glyphicon glyphicon-cog"></i>
						<span class="caret"></span>
					</a>
                    <ul class="dropdown-menu pull-right content-left" >

						{%- if canReplyToTopic(post.getTopic) -%}
	                        <li>
								<a rel="nofollow"
								 href="{{- path('ccdn_forum_user_topic_reply', {'forumName': forumName, 'topicId': post.getTopic.getId }) -}}">
									<i class="glyphicon glyphicon-pencil"></i>
									{{- 'link.topic.reply' | trans({}, 'CCDNForumForumBundle') -}}
								</a>
							</li>
						{%- endif -%}

						{%- if canEditPost(post) -%}
                            <li>
								<a rel="nofollow" id="post_edit[{{- post.getBody |slice(0,24) -}}]"
								 href="{{- path('ccdn_forum_user_post_edit', {'forumName': forumName, 'postId': post.getId }) -}}">
									<i class="glyphicon glyphicon-pencil"></i>
									{{- 'link.edit' | trans({}, 'CCDNForumForumBundle') -}}
								</a>
							</li>
						{%- endif -%}

                        {%- if canDeletePost(post) -%}
                            <li>
								<a rel="nofollow"
								 href="{{- path('ccdn_forum_user_post_delete', {'forumName': forumName, 'postId': post.getId }) -}}">
									<i class="glyphicon glyphicon-trash"></i>
									{{- 'link.post.delete' | trans({}, 'CCDNForumForumBundle') -}}
								</a>
							</li>
                        {%- endif -%}

						{%- if canRestorePost(post) -%}
                            <li>
                                <a rel="nofollow" href="{{- path('ccdn_forum_moderator_post_restore', {'forumName': forumName, 'postId': post.getId }) -}}">
                                    <i class="glyphicon glyphicon-trash"></i>
									{{- 'link.post.restore' | trans({}, 'CCDNForumForumBundle') -}}
                                </a>
                            </li>
                        {%- endif -%}

						{%- if canLockPost(post) -%}
                            <li>
                                <a rel="nofollow" href="{{- path('ccdn_forum_moderator_post_lock', {'forumName': forumName, 'postId': post.getId }) -}}">
                                    <i class="glyphicon glyphicon-lock"></i>
									{{- 'link.post.lock' | trans({}, 'CCDNForumForumBundle') -}}
                                </a>
                            </li>
						{%- endif -%}

						{%- if canUnlockPost(post) -%}
                            <li>
                                <a rel="nofollow" href="{{- path('ccdn_forum_moderator_post_unlock', {'forumName': forumName, 'postId': post.getId }) -}}">
                                    <i class="glyphicon glyphicon-lock"></i>
									{{- 'link.post.unlock' | trans({}, 'CCDNForumForumBundle') -}}
                                </a>
                            </li>
                        {%- endif -%}

                    </ul>
                </div>
            {%- endif -%}
		</div>


{%- endspaceless -%}
