{%- spaceless -%}

	{%- if post.isDeleted == false or is_granted('ROLE_MODERATOR') -%}
		{%- if post.getEditedDate -%}
		    <div class="label forum-post-notice">
				<i class="icon-white icon-pencil"></i>
		        {% set editor = create_profile(post.getEditedBy) %}

		        {{- 'generic.edited_by' |trans({'%name%': editor.getProfilePath}, 'CCDNForumForumBundle') |raw -}}

				&nbsp;&#183;

				<abbr class="timestamper" title="{{- post.getEditedDate |date('Y-m-d H:i:s T Z', 'Europe/London') -}}">
		            {{- post.getEditedDate |date(ccdn_forum_forum.item_post.edited_datetime_format) -}}
		        </abbr>
		    </div>
		{%- endif -%}
	{%- endif -%}

	{%- if post.isDeleted == true -%}
		<div class="label label-important forum-post-notice">
			<div class="span8">
		        <i class="icon-white icon-trash"></i>
		        {% set deleter = create_profile(post.getDeletedBy) %}

		        {{- 'generic.deleted_by' |trans({'%name%': deleter.getProfilePath}, 'CCDNForumForumBundle') |raw -}}

				&nbsp;&#183;

		        <abbr class="timestamper" title="{{- post.getDeletedDate |date('Y-m-d H:i:s T Z', 'Europe/London') -}}">
		            {{- post.getDeletedDate |date(ccdn_forum_forum.item_post.deleted_datetime_format) -}}
		        </abbr>
			</div>

	        {%- if is_granted('ROLE_MODERATOR') -%}
				<div class="span4 content-right">
	                <a class="accordion-toggle" data-toggle="collapse" data-parent="#post_{{- post.getId() -}}" href="#post_{{- post.getId() -}}_body">
	                    {{- 'generic.show_hide' |trans({}, 'CCDNForumForumBundle') -}}
	                </a>
				</div>
			{%- endif -%}
		</div>

		{%- if is_granted('ROLE_MODERATOR') -%}
			<section class="accordion-body collapse" id="post_{{- post.getId() -}}_body">
			    {{- post.getBody -}}
			</section>
		{%- endif -%}
	{%- else -%}
		<section id="post_{{- post.getId() -}}_body">
			{{- post.getBody -}}
		</section>
	{%- endif -%}

{%- endspaceless -%}
