{%- spaceless -%}

	{%- if post.isDeleted == false or is_granted('ROLE_MODERATOR') -%}
		{%- if post.getEditedDate -%}
        <div class="media-body">
			<div class="ibox-content">
					<i class="glyphicon glyphicon-pencil"></i>
					{{- 'post.edited-by' |trans({}, 'CCDNForumForumBundle') |raw -}}
					{{- post.getEditedBy.name -}}
					&nbsp;&#183;
					<abbr class="timestamper" title="{{- post.getEditedDate |date('Y-m-d H:i:s T Z', 'Europe/London') -}}">
						{{- post.getEditedDate |date(ccdn_forum_forum.item_post.edited_datetime_format) -}}
					</abbr>
				</div>
			</div>
		{%- endif -%}
	{%- endif -%}

	{%- if post.isDeleted == true -%}
		{%- if is_granted('ROLE_MODERATOR') -%}
            <div class="media-body">
				<div class="ibox-content">
					<i class="fa fa-trash"></i>
					{{- 'post.deleted-by' |trans({}, 'CCDNForumForumBundle') |raw -}}
					{{- post.getDeletedBy.name -}}
					&nbsp;&#183;
					<abbr class="timestamper" title="{{- post.getDeletedDate |date('Y-m-d H:i:s T Z', 'Europe/London') -}}">
						{{- post.getDeletedDate |date(ccdn_forum_forum.item_post.deleted_datetime_format) -}}
					</abbr>
                    <br>
                    {{- post.getBody -}}
				</div>
             </div>
			{%- endif -%}

		{%- if is_granted('ROLE_MODERATOR') -%}
			<section class="accordion-body collapse" id="post_{{- post.getId() -}}_body">
				{%- include 'CCDNForumForumBundle:User:Post/Partial/body_content.html.twig' with {'post': post } -%}
			</section>
		{%- endif -%}
	{%- else -%}
		<div class="media-body">
			{%- include 'CCDNForumForumBundle:User:Post/Partial/body_content.html.twig' with {'post': post } -%}
        </div>

	{%- endif -%}


{%- endspaceless -%}
