{%- spaceless -%}
    {%- if preview.getBody -%}
<div class="forum-topic-transcript">
	<div class="ibox">
		<div class="ibox-title">
			<h5>{{- 'post.preview' |trans({}, 'CCDNForumForumBundle') -}}</h5>

			<div class="ibox-tools">
				<a class="collapse-link">
					<i class="fa fa-chevron-up"></i>
				</a>
				<a class="close-link">
					<i class="fa fa-times"></i>
				</a>
			</div>
		</div>
		<div class="ibox-content">
			<div style="position: relative; overflow: hidden; width: auto; height: auto;" class="slimScrollDiv">
				<div style="overflow: hidden; width: auto; height: auto;" class="scroll_content">

			    <div class="media">
					<h4 class="media-heading">
						{%- if post.getCreatedBy -%}
					        {{- 'post.posted-by' |trans({}, 'CCDNForumForumBundle') |raw -}}
							{{- post.getCreatedBy.username -}}

					        &nbsp;&#183;&nbsp;

						{%- endif -%}

				        <span class="timestamper" title="{{- post.getCreatedDate |date('d.m.Y H:i:s T Z', 'Europe/London') -}}">
				           {{- post.getCreatedDate |date('d.m.Y H:i:s') -}}
				        </span>
					</h4>
				</div>

				<div class="media">
                    {{ post.getBody|raw }}
				</div>

			</div>
		</div>
         </div>
        </div>
    </div>

            {%- endif -%}
{%- endspaceless -%}
