{%- spaceless -%}
<tr class="{{- cycler(['row_odd', 'row_even'], 'board') }} marked_read">

    <td class="center">
        <i class="icon-folder-close" style="margin-top:10px;"></i>
    </td>

    <td class="left">
        <h4>
            <a href="{{- path('ccdn_forum_forum_board_show', {'boardId': board.getId }) -}}" title="{{- board.getName -}}">
                {{- truncDot(board.getName, ccdn_forum_forum.seo.title_length) -}}
            </a>
        </h4>

        <span class="common_body">
            {{- BBCode(board.getDescription | raw, ccdn_forum_forum.item_board.enable_bb_parser) | raw -}}
        </span>
    </td>

    <td class="center" style="width: 100px;">
        {{- board.getCachedTopicCount -}}
    </td>

    <td class="center" style="width: 100px;">
        {{- board.getCachedPostCount -}}
    </td>

    <td class="center" style="width:170px;">
        {%- if board.getLastPost -%}
            {%- if board.getLastPost.getTopic -%}

                {%- set page = divCeil(( board.getLastPost.getTopic.getCachedReplyCount + 1), topics_per_page) -%}

                {% set profile = create_profile(board.getLastPost.getCreatedBy) %}

                {{- 'ccdn_forum_forum.post.posted_by' | trans({}, 'CCDNForumForumBundle') -}}
                {{- profile.getProfilePath |title -}}

                <br>
                {%- if page < 2 -%}
                    <a href="{{- path('ccdn_forum_forum_topic_show', {'topicId': board.getLastPost.getTopic.getId } ) -}}#{{- board.getLastPost.getId -}}">
                        <abbr class="timestamper" title="{{- board.getLastPost.getCreatedDate |date('Y-m-d H:i:s T Z', 'Europe/London') -}}">
                            {{- board.getLastPost.getCreatedDate |date(ccdn_forum_forum.category.last_post_datetime_format) -}}
                        </abbr>
                    </a>
                {%- else -%}
                    <a href="{{- path('ccdn_forum_forum_topic_show_paginated', {'topicId': board.getLastPost.getTopic.getId, 'page':page }) -}}#{{- board.getLastPost.getId -}}">
                        <abbr class="timestamper" title="{{- board.getLastPost.getCreatedDate |date('Y-m-d H:i:s T Z', 'Europe/London') -}}">
                            {{- board.getLastPost.getCreatedDate |date(ccdn_forum_forum.category.last_post_datetime_format) -}}
                        </abbr>
                    </a>
                {%- endif -%}
            {%- endif -%}
        {%- endif -%}
    </td>

</tr>
{%- endspaceless -%}
