<tr class="{{ cycler(['row_odd', 'row_even'], 'board') }}">
	<td class="icon32">
		<img class="icon32" width="32" height="32" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/32x32/32x32_board.png') }}" alt="icon">
	</td>
	<td class="left">
		<span class="table_data">
			<a href="{{ path('cc_forum_board_show', {'board_id': board.getId }) }}">{{ board.getName }}</a><br>
			{{ board.getDescription }}
		</span>
	</td>
	<td class="center" style="width: 100px;">
		<span class="table_data">{{ board.getTopicCount }}</span>
	</td>
	<td class="center" style="width: 100px;">
		<span class="table_data">{{ board.getPostCount }}</span>
	</td>
	<td class="center" style="width:170px;">
		<span class="table_data">
		{% if board.getLastPost %}
			{% if board.getLastPost.getTopic %}
				{% set page = divCeil(( board.getLastPost.getTopic.getReplyCount + 1), topics_per_page) %}
				{{ 'post.posted_by' | trans({}, 'CCDNForumForumBundle') }}
				{% if board.getLastPost.getCreatedBy %}
					<a class="username_small" href="{{ path(user_profile_route, {'user_id': board.getLastPost.getCreatedBy.getId } ) }}">{{ board.getLastPost.getCreatedBy.getUsername }}</a> 
				{% else %}
					Guest 
				{% endif %}
				<br>{{ 'actioned.at' | trans({}, 'CCDNForumForumBundle') }}<a class="date_link_small" href="{{ path('cc_forum_topic_show_paginated', {'topic_id': board.getLastPost.getTopic.getId, 'page':page } ) }}#{{ board.getLastPost.getId }}">{{ board.getLastPost.getCreatedDate|date("d/m/Y - H:i:s") }}</a>
			{% else %}
				{{ 'info.not_applicable' | trans({}, 'CCDNForumForumBundle') }}
			{% endif %}
		{% else %}
			{{ 'info.not_applicable' | trans({}, 'CCDNForumForumBundle') }}
		{% endif %}
		</span>
	</td>
</tr>