{%- spaceless -%}
<h2><abbr title="{{- category.name -}}"><a href="{{- path('ccdn_forum_forum_category_show', {'categoryId': category.id }) -}}">{{- truncDot(category.name, param('ccdn_forum_forum.seo.title_length')) -}}</a></abbr></h2>

<table class="table">
	<thead>
		<tr>
			<th class="center" style="width: 32px;"></th>
			<th class="left">{{- 'ccdn_forum_forum.board.table.head.board' | trans({}, 'CCDNForumForumBundle') -}}</th>
			<th class="center" style="width: 60px;">{{- 'ccdn_forum_forum.board.table.head.topic_count' | trans({}, 'CCDNForumForumBundle') -}}</th>
			<th class="center" style="width: 60px;">{{- 'ccdn_forum_forum.board.table.head.post_count' | trans({}, 'CCDNForumForumBundle') -}}</th>
			<th class="center" style="width: 170px;">{{- 'ccdn_forum_forum.board.table.head.last_post' | trans({}, 'CCDNForumForumBundle') -}}</th>
		</tr>
	</thead>
	<tbody>
	{%- for row, board in category.boards -%}
		{%- include "CCDNForumForumBundle:Category:item_board.html.twig" -%}
	{%- else -%}
		<tr>
			<td class="center" colspan="5" style="width:100%;">
				{{- 'ccdn_forum_forum.category.table.empty' | trans({}, 'CCDNForumForumBundle') -}}
			</td>
		</tr>
	{%- endfor -%}
	</tbody>
</table>
{%- endspaceless -%}
