	{% spaceless %}
		<h2><a href="{{ path('cc_forum_category_show', {'category_id': category.id }) }}">{{ category.name }}</a></h2>
	{% endspaceless %}

		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th class="center" style="width: 32px;"></th>
					<th class="left">{{ 'board.table.head.board' | trans({}, 'CCDNForumForumBundle') }}</th>
					<th class="center" style="width: 60px;">{{ 'board.table.head.topic_count' | trans({}, 'CCDNForumForumBundle') }}</th>
					<th class="center" style="width: 60px;">{{ 'board.table.head.post_count' | trans({}, 'CCDNForumForumBundle') }}</th>
					<th class="center" style="width: 170px;">{{ 'board.table.head.last_post' | trans({}, 'CCDNForumForumBundle') }}</th>
				</tr>
			</thead>
			<tbody>
			{% for row, board in category.boards %}
				{% include "CCDNForumForumBundle:Category:item_board.html.twig" %}
			{% else %}
				<tr>
					<td class="center" colspan="5" width="100%">
						{{ 'category.table.empty' | trans({}, 'CCDNForumForumBundle') }}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
