<div class="section_wrap_top">
	{% spaceless %}
	<div class="section_header">
		<h2>
			<img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_category.png') }}" alt="icon">&nbsp;
			<a href="{{ path('cc_forum_category_show', {'category_id': category.id }) }}">{{ category.name }}</a>
		</h2>
	</div>
	{% endspaceless %}
</div>
<div class="section_wrap_bottom">
	<div class="section_table_panel">
		<table class="common_list">
			<thead>
				<tr>
					<th class="center"></th>
					<th class="left"><span class="table_header">{{ 'board.table.head.board' | trans({}, 'CCDNForumForumBundle') }}</span></th>
					<th class="center" style="width: 80px;"><span class="table_header">{{ 'board.table.head.topic_count' | trans({}, 'CCDNForumForumBundle') }}</span></th>
					<th class="center" style="width: 80px;"><span class="table_header">{{ 'board.table.head.post_count' | trans({}, 'CCDNForumForumBundle') }}</span></th>
					<th class="center" style="width: 170px;"><span class="table_header">{{ 'board.table.head.last_post' | trans({}, 'CCDNForumForumBundle') }}</span></th>
				</tr>
			</thead>
			<tbody>
			{% for row, board in category.boards %}
				{% include "CCDNForumForumBundle:Category:item_board.html.twig" %}
			{% else %}
				<tr>
					<td class="h_align_centre v_align_middle" colspan="4" width="100%" >	
						<span class="table_empty">{{ 'category.table.empty' | trans({}, 'CCDNForumForumBundle') }}</span>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>