{%- spaceless -%}

	<section class="row clearfix">
		{%- if topic.isDeleted or topic.isClosed %}
	        <div class="alert alert-danger">
			    {%- if topic.isDeleted -%}
		            <i class="glyphicon glyphicon-trash"></i>

		            {{- 'topic.deleted-by' | trans({}, 'CCDNForumForumBundle') |raw -}}
					{{- topic.getDeletedBy -}}

					&nbsp;&#183;

		            {{- topic.getDeletedDate |date(ccdn_forum_forum.topic.user.show.deleted_datetime_format) -}}
			    {%- endif -%}

			    {%- if topic.isClosed -%}
					{%- if topic.isDeleted -%}<br>{%- endif -%}
		            <i class="glyphicon glyphicon-lock"></i>

		            {{- 'topic.closed-by' | trans({}, 'CCDNForumForumBundle') |raw -}}
					{{- topic.getClosedBy -}}

					&nbsp;&#183;

		            {{- topic.getClosedDate |date(ccdn_forum_forum.topic.user.show.closed_datetime_format) -}}
			    {%- endif -%}
	        </div>
		{%- endif -%}

	    {%- if topic.isSticky -%}
	        <div class="alert alert-info">
		        <i class="glyphicon glyphicon-bullhorn"></i>

	            {{- 'topic.stickied-by' | trans({}, 'CCDNForumForumBundle') |raw -}}
				{{- topic.stickiedBy -}}

				&nbsp;&#183;

	            {{- topic.getStickiedDate |date(ccdn_forum_forum.topic.user.show.deleted_datetime_format) -}}
	        </div>
	    {%- endif -%}
	</section>

{%- endspaceless -%}
