{%- spaceless -%}
<tr>
    <div class="forum-item">
        <div class="row">
            <div class="col-md-9">
                <div class="forum-icon">
                    <i class="fa fa-fw fa-{{ board.getIcon }} text-navy"></i>
                </div>
                <a href="{{- path('ccdn_forum_user_board_show', {'forumName': forumName, 'boardId': board.getId }) -}}"
                   title="{{- board.getName -}}" class="forum-item-title">
                    {{- board.getName -}}
                </a>

                <div class="forum-sub-title">{{- board.getDescription -}}</div>
            </div>
            <div class="col-md-1 forum-info">
                                        <span class="views-number">
                                            {{- board.getCachedTopicCount -}}
                                        </span>

                <div>
                    <small>{{- 'board.view-count-th' | trans({}, 'CCDNForumForumBundle') -}}</small>
                </div>
            </div>
            <div class="col-md-1 forum-info">
                                        <span class="views-number">
                                            {{- board.getCachedTopicCount -}}
                                        </span>

                <div>
                    <small>{{- 'board.topic-count-label' | trans({}, 'CCDNForumForumBundle') -}}</small>
                </div>
            </div>
            <div class="col-md-1 forum-info">
                                        <span class="views-number">
                                             {{- board.getCachedPostCount -}}
                                        </span>

                <div>
                    <small>{{- 'board.post-count-label' | trans({}, 'CCDNForumForumBundle') -}}</small>
                </div>
            </div>
        </div>
    </div>



    {%- endspaceless -%}
