{%- spaceless -%}
	<tr>
	    <td class="center">
	        {%- if canCreateTopicOnBoard(board, forum) -%}
	            {%- if canReplyToTopicOnBoard(board, forum) -%}
	                <i class="icon-folder-close" style="margin-top:10px;"></i>
	            {%- else -%}
	                <i class="icon-lock" style="margin-top:10px;"></i>
	            {%- endif -%}
	        {%- else -%}
	            {%- if canReplyToTopicOnBoard(board, forum) -%}
	                <i class="icon-eye-open" style="margin-top:10px;"></i>
	            {%- else -%}
	                <i class="icon-lock" style="margin-top:10px;"></i>
	            {%- endif -%}
	        {%- endif -%}
	    </td>

	    <td class="left">
	        <h4>
	            <a href="{{- path('ccdn_forum_user_board_show', {'forumName': forum.name, 'boardId': board.getId }) -}}" title="{{- board.getName -}}">
	                {{- truncDot(board.getName, ccdn_forum_forum.seo.title_length) -}}
	            </a>
	        </h4>

			<blockquote class="slim">
	            {{- board.getDescription -}}
			</blockquote>
	    </td>

	    <td class="center prominent-figure-large" style="width: 100px;">
			<span class="label label-info lead" title="{{- board.getCachedTopicCount -}}">
				{{- abbr_number(board.getCachedTopicCount) -}}
			</span>
	    </td>

	    <td class="center prominent-figure-large" style="width: 100px;">
			<span class="label label-info lead" title="{{- board.getCachedPostCount -}}">
		        {{- abbr_number(board.getCachedPostCount) -}}
			</span>
	    </td>

	    <td class="center" style="width:170px;">
	        {%- if board.getLastPost -%}
	            {%- if board.getLastPost.getTopic -%}

	                {%- set page = divCeil(( board.getLastPost.getTopic.getCachedReplyCount + 1), topics_per_page) -%}

	                {% set profile = create_profile(board.getLastPost.getCreatedBy) %}

	                {{- 'generic.posted_by' | trans({'%name%': profile.getProfilePath}, 'CCDNForumForumBundle') |raw -}}

	                <br>

	                {%- if page < 2 -%}
	                    <a href="{{- path('ccdn_forum_user_topic_show', {'forumName': forum.name, 'topicId': board.getLastPost.getTopic.getId } ) -}}#{{- board.getLastPost.getId -}}">
							<i class="icon-arrow-right"></i>
	                        <abbr class="timestamper" title="{{- board.getLastPost.getCreatedDate |date('Y-m-d H:i:s T Z', 'Europe/London') -}}">
	                            {{- board.getLastPost.getCreatedDate |date(ccdn_forum_forum.category.last_post_datetime_format) -}}
	                        </abbr>
	                    </a>
	                {%- else -%}
	                    <a href="{{- path('ccdn_forum_user_topic_show_paginated', {'forumName': forum.name, 'topicId': board.getLastPost.getTopic.getId, 'page':page }) -}}#{{- board.getLastPost.getId -}}">
							<i class="icon-arrow-right"></i>
	                        <abbr class="timestamper" title="{{- board.getLastPost.getCreatedDate |date('Y-m-d H:i:s T Z', 'Europe/London') -}}">
	                            {{- board.getLastPost.getCreatedDate |date(ccdn_forum_forum.category.last_post_datetime_format) -}}
	                        </abbr>
	                    </a>
	                {%- endif -%}
	            {%- endif -%}
	        {%- endif -%}
	    </td>
	</tr>
{%- endspaceless -%}
