{% extends param('ccdn_forum_forum.draft.layout_templates.list') %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/ccdncomponentcrumbtrail/css/crumbs.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}{{ 'title.drafts' | trans({}, 'CCDNForumForumBundle' ) }}{% endblock %}

{% block sidebar %}
	{% if is_granted('ROLE_MODERATOR') %}
	<div class="sidebar">
		<div class="sidebar_header"><span class="sidebar_header">{{ 'sidebar.header.special' | trans({}, 'CCDNComponentCommonBundle') }}</span></div>
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_moderator_forum_cp') }}">{{ 'general.view.link_moderate' | trans({}, 'CCDNComponentCommonBundle') }}</a></div>
		{% if is_granted('ROLE_ADMIN') %}
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_admin_forum_cp') }}">{{ 'general.view.link_administrate' | trans({}, 'CCDNComponentCommonBundle') }}</a></div>
		{% endif %}
	</div>
	{% endif %}

{% endblock %}

{% block body %}

{% include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' %}

<div class="section_wrap_top">
	{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}
</div>
<div class="section_wrap_bottom">
	<div class="section_header">
		<h2>{{ 'title.drafts' | trans({}, 'CCDNForumForumBundle' ) }}</h2>
	</div>
</div>

<div class="section_wrap_standalone">	
	{% if pager.haveToPaginate %}
	<div class="pagerfanta">
	    {{ pagerfanta(pager, 'default', {'routeName':'cc_forum_drafts_list_paginated', 'routeParams':{}} ) }}
	</div>
	{% endif %}
	<div class="section_table_panel">
			<table class="common_list">
				<thead>
					<tr>
						<th class="icon"></th>
						<th class="left" colspan="2"><span class="table_header">{{ 'drafts.table.head.topic_title' | trans({}, 'CCDNForumForumBundle') }}</span></th>
						<th class="center" style="width: 200px;"><span class="table_header">&nbsp;</span></th>
						<th class="center" style="width: 200px;"></th>
					</tr>
				</thead>
				<tbody>
				{% for row, draft in pager.getCurrentPageResults %}
						<tr class="{{ cycle(['row_odd', 'row_even'], row) }}">
							<td class="icon16">
								{% if draft.getTopic %}
								<img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_communication.png') }}" alt="icon">
								{% else %}
								<img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_chat.png') }}" alt="icon">
								{% endif %}
							</td>
							{% if draft.getTopic %}
							<td class="left" colspan="2">
								<span class="table_data">
								<b>Reply:</b>&nbsp;<a href="{{ path('cc_forum_topic_show', {'topic_id': draft.getTopic.getId }) }}">{{ draft.getTopic.getTitle }}</a>
								</span>
							</td>
							{% else %}
							<td class="left">
								<span class="table_data">
								<b>Topic:</b>&nbsp;{{ draft.getTitle }}
								</span>
							</td>
							<td class="left">
								<span class="table_data">
								{% if draft.getBoard %}
									<a href="{{ path('cc_forum_board_show', {'board_id': draft.getBoard.getId}) }}">
										<img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_board.png') }}" alt="icon">
										{{ draft.getBoard.getName }}
									</a>
								{% else %}
								N/A
								{% endif %}
								</span>
							</td>
							{% endif %}
							<td class="center">
								<span class="table_data">
								{{ draft.getCreatedDate|date("d/m/Y - H:i:s") }}
								</span>
							</td>
							<td class="center">
								<a class="button_blue" href="{{ path('cc_forum_draft_delete', {'draftId': draft.getId }) }}">{{ 'link.draft.delete' | trans({}, 'CCDNForumForumBundle') }}</a>
								<a class="button_blue" href="{{ path('cc_forum_draft_publish', {'draftId': draft.getId }) }}">{{ 'link.draft.publish' | trans({}, 'CCDNForumForumBundle') }}</a>
							</td>
						</tr>
						<tr class="{{ cycle(['row_odd', 'row_even'], row) }}">
							<td class="left" colspan="5">
								<div class="round_box">
									<span class="common_body">
									{{ BBCode(draft.body | raw | slice(0, 200)) | raw }}&nbsp;...
									</span>
								</div>
							</td>
						</tr>
				{% else %}
					<tr>
						<td class="center" colspan="5">
							<span class="table_empty">{{ 'drafts.table.empty' | trans({}, 'CCDNForumForumBundle') }}</span>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
	</div>
	{% if pager.haveToPaginate %}
	<div class="pagerfanta">
	    {{ pagerfanta(pager, 'default', {'routeName':'cc_forum_drafts_list_paginated', 'routeParams':{}} ) }}
	</div>
	{% endif %}
</div>

<div class="section_wrap_standalone">
	{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}
</div>

{% endblock %}