{% extends param('ccdn_forum_forum.draft.list.layout_template') %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{- asset('bundles/ccdncomponentbbcode/css/bbcode.css') -}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}{{- truncDot('ccdn_forum_forum.title.drafts.show' | trans({}, 'CCDNForumForumBundle'), param('ccdn_forum_forum.seo.title_length')) -}}{% endblock %}

{% block sidebar %}
	{{ parent() }}

	{%- include 'CCDNForumForumBundle:Sidebar:sidebar.html.twig' -%}

{% endblock %}

{% block sidebar_actions %}
	{{ parent() }}

	{%- include 'CCDNForumForumBundle:Sidebar:sidebar_actions.html.twig' -%}

{% endblock %}


{% block body %}

	{%- spaceless -%}

	{%- include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' -%}

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	<h2>{{- 'ccdn_forum_forum.title.drafts.show' | trans({}, 'CCDNForumForumBundle' ) -}}</h2>
	
	<div class="btn-toolbar" style="display:block !important;clear:both !important;">
		{%- if pager.haveToPaginate -%}
			<div class="pull-right">
	    	{{- pagerfanta(pager, 'twitter_bootstrap_compact', {'routeName':'ccdn_forum_forum_draft_list_paginated', 'routeParams':{}} ) -}}
			</div>
		{%- endif -%}
		<br><br>
	</div>
	
	<table class="table">
		<thead>
			<tr>
				<th class="center" style="width:18px;"></th>
				<th class="left" colspan="2">{{- 'ccdn_forum_forum.drafts.table.head.topic_title' | trans({}, 'CCDNForumForumBundle') -}}</th>
				<th class="center" style="width:200px;"></th>
				<th class="center" style="width:200px;"></th>
			</tr>
		</thead>
		<tbody>
		{%- for row, draft in pager.getCurrentPageResults -%}
			<tr class="{{- cycle(['row_odd', 'row_even'], row) -}}{{- (draft.getTopic) ? ' marked_unread': ' marked_read' -}}">
				<td class="center">
					{%- if draft.getTopic -%}
					<i class="icon-asterisk"></i>
					{%- else -%}
					<i class="icon-comment"></i>
					{%- endif -%}
				</td>
				{%- if draft.getTopic -%}
				<td class="left" colspan="2">
					<b>Reply:</b>&nbsp;<a href="{{- path('ccdn_forum_forum_topic_show', {'topicId': draft.getTopic.getId }) -}}">{{- draft.getTopic.getTitle -}}</a>
				</td>
				{%- else -%}
				<td class="left">
					<b>Topic:</b>&nbsp;{{- truncDot(draft.getTitle, param('ccdn_forum_forum.draft.list.topic_title_truncate')) -}}
				</td>
				<td class="left">
					{%- if draft.getBoard -%}
						<a href="{{- path('ccdn_forum_forum_board_show', {'boardId': draft.getBoard.getId}) -}}">
							<img class="icon16" width="16" height="16" src="{{- asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_board.png') -}}" alt="icon">&nbsp;
							{{- draft.getBoard.getName -}}
						</a>
					{%- endif -%}
				</td>
				{%- endif -%}
				<td class="center">
					{{- draft.getCreatedDate |date(param('ccdn_forum_forum.draft.list.creation_datetime_format')) -}}
				</td>
				<td class="center">
					<a class="btn btn-danger" href="{{- path('ccdn_forum_forum_draft_delete', {'draftId': draft.getId }) -}}">{{- 'ccdn_forum_forum.link.draft.delete' | trans({}, 'CCDNForumForumBundle') -}}</a>&nbsp;
					<a class="btn btn-primary" href="{{- path('ccdn_forum_forum_draft_publish', {'draftId': draft.getId }) -}}">{{- 'ccdn_forum_forum.link.draft.publish' | trans({}, 'CCDNForumForumBundle') -}}</a>
				</td>
			</tr>
			<tr class="{{- cycle(['row_odd', 'row_even'], row) }} marked_read">
				<td class="left" colspan="5">
					<span class="common_body">
						{{- draft.body | slice(0, 200) -}}&nbsp;...
					</span>
				</td>
			</tr>
		{%- else -%}
			<tr>
				<td class="center" colspan="5">
					{{- 'ccdn_forum_forum.drafts.table.empty' | trans({}, 'CCDNForumForumBundle') -}}
				</td>
			</tr>
		{%- endfor -%}
		</tbody>
	</table>

	<div class="btn-toolbar" style="display:block !important;clear:both !important;">
		{%- if pager.haveToPaginate -%}
			<div class="pull-right">
	    	{{- pagerfanta(pager, 'twitter_bootstrap_compact', {'routeName':'ccdn_forum_forum_draft_list_paginated', 'routeParams':{}} ) -}}
			</div>
		{%- endif -%}
		<br><br>
	</div>

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	{%- endspaceless -%}

{% endblock %}
