{% extends 'CCDNForumForumBundle::base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.topic.show.layout_template %}

{% block title %}{{- truncDot('title.topic.show' | trans({'%topic_title%': topic.getTitle |capitalize}, 'CCDNForumForumBundle'), ccdn_forum_forum.seo.title_length) -}}{% endblock %}

{%- block body_content -%}

    {%- spaceless -%}

	<header class="row-fluid">
		<div class="span6">
		    <h3 title="{{- topic.getTitle -}}">{{- truncDot(topic.getTitle |capitalize, 70) -}}</h3>
		</div>
		<div class="span6 content-right">
		    <span class="label label-inverse prominent-figure" title="{{- topic.cachedReplyCount -}}">
				{{- 'topic.count.replies' |trans({}, 'CCDNForumForumBundle') -}}
				{{- abbr_number(topic.cachedReplyCount) -}}
			</span>

		    <span class="label label-inverse prominent-figure" title="{{- topic.cachedViewCount -}}">
				{{- 'topic.count.views' |trans({}, 'CCDNForumForumBundle') -}}
				{{- abbr_number(topic.cachedViewCount) -}}
			</span>

		    {%- if subscription_count is defined -%}
		        <span class="label label-inverse prominent-figure" title="{{- subscription_count -}}">
					{{- 'topic.count.subscriptions' |trans({}, 'CCDNForumForumBundle') -}}
					{{- abbr_number(subscription_count) -}}
				</span>
		    {%- endif -%}
		</div>
	</header>


	{%- if topic.isDeleted or topic.isClosed or topic.isSticky -%}
		<section class="row-fluid">
			<div class="span12">
				{%- if topic.isDeleted or topic.isClosed %}
			        <div class="alert alert-error block-alert">	
					    {%- if topic.isDeleted -%}
				            <i class="icon-trash"></i>
				            {% set topic_deleter = create_profile(topic.getDeletedBy) %}

				            {{- 'generic.deleted_by' | trans({'%name%': topic_deleter.getProfilePath}, 'CCDNForumForumBundle') |raw -}}

							&nbsp;&#183;

				            {{- topic.getDeletedDate |date(ccdn_forum_forum.topic.show.deleted_datetime_format) -}}
					    {%- endif -%}

					    {%- if topic.isClosed -%}
							{%- if topic.isDeleted -%}<br>{%- endif -%}
				            <i class="icon-lock"></i>
				            {% set topic_closer = create_profile(topic.getClosedBy) %}

				            {{- 'topic.closed_by' | trans({'%name%': topic_closer.getProfilePath}, 'CCDNForumForumBundle') |raw -}}

							&nbsp;&#183;

				            {{- topic.getClosedDate |date(ccdn_forum_forum.topic.show.closed_datetime_format) -}}
					    {%- endif -%}
			        </div>
				{%- endif -%}
			
			    {%- if topic.isSticky -%}
			        <div class="alert alert-inverse block-alert">
				        <i class="icon-white icon-bullhorn"></i>
			            {% set topic_stickier = create_profile(topic.stickiedBy) %}
				
			            {{- 'topic.stickied_by' | trans({'%name%': topic_stickier.getProfilePath}, 'CCDNForumForumBundle') |raw -}}

						&nbsp;&#183;

			            {{- topic.getStickiedDate |date(ccdn_forum_forum.topic.show.deleted_datetime_format) -}}
			        </div>
			    {%- endif -%}
			</div>
		</section>
	{%- endif -%}
		
	<section class="row-fluid">
	    <div class="span12 btn-toolbar">
	        <div class="span6">
	            {%- include 'CCDNForumForumBundle:Toolbar:topic_actions.html.twig' -%}
	        </div>

			<nav class="span6 btn-right paginate">
				{{- knp_pagination_render(pager) -}}
			</nav>
	    </div>
	</section>
	
	<section>
	    {%- for key, post in pager.getItems() -%}
	        {%- include "CCDNForumForumBundle:User:Post/Partial/item_post.html.twig" -%}
	    {%- endfor -%}
	</section>

	<section class="row-fluid">
	    <div class="span12 btn-toolbar">
	        <div class="span6">
	            {%- include 'CCDNForumForumBundle:Toolbar:topic_actions.html.twig' -%}
	        </div>

			<nav class="span6 btn-right paginate">
				{{- knp_pagination_render(pager) -}}
			</nav>
	    </div>
	</section>
	
    {%- endspaceless -%}

{% endblock body_content %}
