{% extends 'CCDNForumForumBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.board.admin.delete.layout_template %}

{%- block title -%}
	{{- 'title.admin.manage-boards.delete' |trans({'%board_name%': board.name}, 'CCDNForumForumBundle') -}}
{%- endblock title -%}

{%- block sidebar -%}
	{%- spaceless -%}
	{{- parent() -}}
    {%- include 'CCDNForumForumBundle:Common:Layout/Sidebar/admin_forum.html.twig' -%}
	{%- endspaceless -%}
{%- endblock sidebar -%}

{%- block body_content -%}
    {%- spaceless -%}

	<section class="clearfix">
	    {%- form_theme form ccdn_forum_forum.board.admin.delete.form_theme -%}
	    <form action="{{- path('ccdn_forum_admin_board_delete_process', {'boardId': board.id, 'forum_filter': forum_filter, 'category_filter': category_filter}) -}}"
		 method="post" {{ form_enctype(form) }} class="form-horizontal" novalidate>
	        <fieldset>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<h4>
							{{- 'title.admin.manage-boards.delete' |trans({'%board_name%': board.name}, 'CCDNForumForumBundle') -}}
						</h4>
					</div>
				</div>

				{{- form_errors(form) -}}

				{{- form_rest(form) -}}

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
		                <input type="submit" class="btn btn-danger" value="
							{{- 'form.button.confirm-delete' |trans({}, 'CCDNForumForumBundle') -}}
						" name="submit[post]" id="submit[post]">

		                <a class="btn btn-default" href="{{- path('ccdn_forum_admin_board_list', {'forum_filter': forum_filter, 'category_filter': category_filter}) -}}">
							{{- 'form.button.cancel' |trans({}, 'CCDNForumForumBundle') -}}
						</a>
					</div>
	            </div>

	        </fieldset>
	    </form>
	</section>

    {%- endspaceless -%}
{%- endblock body_content -%}
