{%- spaceless -%}

	<div class="forum-item active">
		<div class="row">
			<div class="col-md-9">
				<div class="forum-icon">
                 <img src="{{ topic.getFirstPost.getCreatedBy }}">
                 {%- if topic.getFirstPost -%}
				{{- topic.getFirstPost.getCreatedBy -}}
				{{- topic.getFirstPost.getCreatedDate |date('d.m.Y H:i') -}}
             {% endif %}
				</div>
				<h2>
				<a href="{{- path('ccdn_forum_user_topic_show', {'forumName': forumName, 'topicId': topic.getId }) -}}">
					{{- topic.getTitle -}}</h2>
				</a>


			</div>
			<div class="col-md-1 forum-info">
                                        <span class="views-number">
                                            {{- topic.getCachedReplyCount -}}
                                        </span>

				<div>
					<small>Reply</small>
				</div>
			</div>
			<div class="col-md-1 forum-info">
                                        <span class="views-number">
                                            {{- topic.getCachedViewCount -}}
                                        </span>

				<div>
					<small>Views</small>
				</div>
			</div>


            <div class="col-md-1 forum-info">
			{%- if topic.getLastPost -%}
			<img src="{{ topic.getLastPost.getCreatedBy }}">
                {{- 'post.post-last-by' | trans({}, 'CCDNForumForumBundle') |raw -}}
				{{- topic.getLastPost.getCreatedBy -}}
				{{- topic.getLastPost.getCreatedDate |date('d.m.Y H:i') -}}
            {% endif %}
				<br>


				</div>
        </div>
    </div>

	</tr>

{%- endspaceless -%}
