{%- spaceless -%}

	<div class="forum-item active">
		<div class="row">
			<div class="col-md-9">
				<div class="forum-icon">
                 <img src="{{ topic.getFirstPost.getCreatedBy }}">
				</div>
				<a href="{{- path('ccdn_forum_user_topic_show', {'forumName': forumName, 'topicId': topic.getId }) -}}">
					{{- topic.getTitle -}}
				</a>

				
			</div>
			<div class="col-md-1 forum-info">
                                        <span class="views-number">
                                            {{- topic.getCachedReplyCount -}}
                                        </span>

				<div>
					<small>Reply</small>
				</div>
			</div>
			<div class="col-md-1 forum-info">
                                        <span class="views-number">
                                            {{- topic.getCachedViewCount -}}
                                        </span>

				<div>
					<small>Views</small>
				</div>
			</div>

			 {%- if topic.getFirstPost -%}
				{{- 'post.posted-by' | trans({}, 'CCDNForumForumBundle') |raw -}}
				{{- topic.getFirstPost.getCreatedBy -}}

            <div class="col-md-1 forum-info">
			{%- if topic.getLastPost -%}
                {{- 'post.posted-by' | trans({}, 'CCDNForumForumBundle') |raw -}}
				{{- topic.getLastPost.getCreatedBy -}}

				<br>


				</div>
        </div>
    </div>

	</tr>
{%- endspaceless -%}
