{%- spaceless -%}
<style>
.forum-avatar {

	margin-right: 15px; !important;
	width: auto; !important;
}
</style>


	<div class="forum-item active">
		<div class="row">
			<div class="col-md-9">
				<div class="forum-avatar" >
                 <img class="img-thumbnail" src="{{ asset(profilepicture.getAvatarPath(topic.getFirstPost.getCreatedBy)) }}" style="max-width: none; width: 48px; height: 48px; !important;">
				</div>
				<h3>
				<a href="{{- path('ccdn_forum_user_topic_show', {'forumName': forumName, 'topicId': topic.getId }) -}}">{{- topic.getTitle -}}</a><br>
				<small>{{- topic.getFirstPost.getCreatedBy.name -}}&nbsp;{{ 'helper.at'|trans }}&nbsp; {{- topic.getFirstPost.getCreatedDate |date('d.m.Y H:i') -}} </small></h3>
			</div>



			<div class="col-md-1 forum-info">
                                        <span class="views-number">
                                            {{- topic.getCachedReplyCount -}}
                                        </span>

				<div>
					<small>{{- 'topic.reply-count-label' | trans({}, 'CCDNForumForumBundle') -}}</small>
				</div>
			</div>
			<div class="col-md-1 forum-info">
                                        <span class="views-number">
                                            {{- topic.getCachedViewCount -}}
                                        </span>

				<div>
					<small>{{- 'topic.view-count-label' | trans({}, 'CCDNForumForumBundle') -}}</small>
				</div>
			</div>
			<!--<div class="col-md-1 forum-info">
                                        <span class="views-number">
                                       {{- topic.getLastPost.getCreatedBy.name -}}&nbsp;{{ 'helper.at'|trans }}&nbsp;{{- topic.getLastPost.getCreatedDate |date('d.m.Y H:i') -}}
				                        </span>

				<div>
					<small>Last Post</small>
				</div>
			</div>-->



        </div>
    </div>

	</tr>

{%- endspaceless -%}
