{% set LayoutTemplate = ccdn_forum_forum.forum.admin.create.layout_template %}

{%- block content -%}
    {%- spaceless -%}
<h1>{{- 'title.admin.manage-forums.create' |trans({}, 'CCDNForumForumBundle') -}}
    <small></small>
</h1>
<hr>

{%- form_theme form ccdn_forum_forum.forum.admin.create.form_theme -%}
<form action="{{- path('ccdn_forum_admin_forum_create_process') -}}"
      method="post" {{ form_enctype(form) }} class="form-horizontal" novalidate>
    {{- form_errors(form) -}}
    <div class="form-group">
        <label class="col-sm-2 control-label required"
               for="Forum_ForumCreate_name">{{- 'forum.name-label' |trans({}, 'CCDNForumForumBundle') -}}</label>

        <div class="col-sm-10">
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    {{ form_errors(form.readAuthorisedRoles) }}
    {% for readAuthorisedRole in form.readAuthorisedRoles %}
        {{ form_errors(readAuthorisedRole) }}
        <div class="checkbox">
            <label>
                {{ form_row(readAuthorisedRole) }}
            </label>
        </div>
    {% endfor %}

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" id="submit[post]" name="submit[post]" class="btn-primary btn"><i
                        class="fa fa-save"></i>&nbsp {{- 'form.button.save' |trans({}, 'CCDNForumForumBundle') -}}
            </button>
        </div>
    </div>


    {{ form_end(form) }}

    {%- endspaceless -%}
    {%- endblock content -%}
