{% extends 'CCDNForumForumBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.post.edit_topic.layout_template %}

{%- block title -%}
	{{- 'title.admin.manage-forums.delete' |trans({'%forum_name%': forum.name}, 'CCDNForumForumBundle') -}}
{%- endblock -%}



{% block sub_title %}
	<a href="{{ path('ccdn_forum_user_category_index') }}">
		Forum Admin
	</a>
{% endblock sub_title %}



{%- block sidebar -%}

	{%- spaceless -%}
	
	{{- parent() -}}

    {%- include 'CCDNForumForumBundle:Common:Layout/Sidebar/sidebar_admin.html.twig' -%}

	{%- endspaceless -%}
	
{%- endblock sidebar -%}



{% block body_content %}

    {%- spaceless -%}

	<section class="clearfix">
	    {%- form_theme form ccdn_forum_forum.post.edit_topic.form_theme -%}
	    <form action="{{- path('ccdn_forum_admin_forum_delete_process', {'forumId': forum.id}) -}}"
		 method="post" {{ form_enctype(form) }} class="form-horizontal" novalidate>
	        <fieldset>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<h4>Delete Forum {{ forum.id -}}</h4>
						<h5>{{- forum.name -}}</h5>
					</div>
				</div>

				{{- form_errors(form) -}}

				{{- form_rest(form) -}}

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
		                <input type="submit" class="btn btn-danger" value="Confirm Delete" name="submit[post]" id="submit[post]">

		                <a class="btn btn-default" href="{{- path('ccdn_forum_admin_forum_list') -}}">
							{{- 'form.button.cancel' |trans({}, 'CCDNForumForumBundle') -}}
						</a>
					</div>
	            </div>
				
	        </fieldset>
	    </form>
	</section>

    {%- endspaceless -%}

{% endblock body_content %}
