{% extends 'CCDNForumForumBundle:Admin:/Layout/base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.topic.create.layout_template %}

{% block title %}{% endblock %}


{%- block body_content -%}

	{%- spaceless -%}
	
		<a class="btn btn-primary" href="{{- path('ccdn_forum_admin_forum_create') -}}">Create Forum</a>
		
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{%- for forum_index, forum in forums -%}
					<tr>
						<td>{{- forum.id -}}</td>
						<td>{{- forum.name -}}</td>
						<td>
							<a class="btn" href="{{- path('ccdn_forum_admin_forum_edit', {'forumId': forum.id}) -}}" id="update_forum[{{- forum.name -}}]">
								Edit
							</a>
						</td>
						<td>
							<a class="btn btn-danger" href="{{- path('ccdn_forum_admin_forum_delete', {'forumId': forum.id}) -}}" id="delete_forum[{{- forum.name -}}]">
								Delete
							</a>
						</td>
					</tr>
				{%- endfor -%}
			</tbody>
		</table>
	
	{%- endspaceless -%}
	
{%- endblock body_content -%}
