{% extends 'CCDNForumForumBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.topic.create.layout_template %}

{%- block title -%}
	{{- 'title.admin.manage-forums.index' |trans({}, 'CCDNForumForumBundle') -}}
{%- endblock -%}



{% block sub_title %}
	<a href="{{ path('ccdn_forum_user_category_index') }}">
		Forum Admin
	</a>
{% endblock sub_title %}



{%- block sidebar -%}

	{%- spaceless -%}
	
	{{- parent() -}}

    {%- include 'CCDNForumForumBundle:Common:Layout/Sidebar/sidebar_admin.html.twig' -%}

	{%- endspaceless -%}
	
{%- endblock sidebar -%}



{%- block body_content -%}

	{%- spaceless -%}

		<section class="row btn-toolbar clearfix">
			<a class="btn btn-primary" href="{{- path('ccdn_forum_admin_forum_create') -}}">Create Forum</a>
		</section>

		<section class="clearfix">
			<table class="table table-bordered" id="admin-forums-list">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Category Count</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{%- for forum_index, forum in forums -%}
						<tr>
							<td>{{- forum.id -}}</td>
							<td>{{- forum.name -}}</td>
							<td>{{- forum.categories |length -}}</td>
							<td>
								<a class="btn btn-default" href="{{- path('ccdn_forum_admin_forum_edit', {'forumId': forum.id}) -}}" id="update_forum[{{- forum.name -}}]">
									Edit
								</a>

								{%- if is_granted('ROLE_SUPER_ADMIN') -%}
									<a class="btn btn-danger" href="{{- path('ccdn_forum_admin_forum_delete', {'forumId': forum.id}) -}}" id="delete_forum[{{- forum.name -}}]">
										Delete
									</a>
								{%- endif -%}
							</td>
						</tr>
					{%- endfor -%}
				</tbody>
			</table>
		</section>

	{%- endspaceless -%}

{%- endblock body_content -%}
