{%- spaceless -%}
	{%- if topic is defined -%}

		{%- if is_granted('ROLE_USER') -%}
			{%- if subscription is defined -%}
				{%- if subscription is not null -%}
					{%- if subscription.isSubscribed == true -%}
						<a class="btn" href="{{- path('ccdn_forum_forum_subscription_unsubscribe', {'topicId': topic.getId }) -}}"><i class="icon-eye-close"></i>&nbsp;{{- 'ccdn_forum_forum.sidebar.link.topic_unsubscribe' | trans({}, 'CCDNForumForumBundle') -}}</a>
					{%- else -%}
						<a class="btn" href="{{- path('ccdn_forum_forum_subscription_subscribe', {'topicId': topic.getId }) -}}"><i class="icon-eye-open"></i>&nbsp;{{- 'ccdn_forum_forum.sidebar.link.topic_subscribe' | trans({}, 'CCDNForumForumBundle') -}}</a>
					{%- endif -%}
				{%- else -%}
					<a class="btn" href="{{- path('ccdn_forum_forum_subscription_subscribe', {'topicId': topic.getId }) -}}"><i class="icon-eye-open"></i>&nbsp;{{- 'ccdn_forum_forum.sidebar.link.topic_subscribe' | trans({}, 'CCDNForumForumBundle') -}}</a>
				{%- endif -%}
			{%- else -%}
				<a class="btn" href="{{- path('ccdn_forum_forum_subscription_subscribe', {'topicId': topic.getId }) -}}"><i class="icon-eye-open"></i>&nbsp;{{- 'ccdn_forum_forum.sidebar.link.topic_subscribe' | trans({}, 'CCDNForumForumBundle') -}}</a>
			{%- endif -%}
		{%- endif -%}

		{%- if is_granted('ROLE_MODERATOR') -%}
			<div class="btn-group" style="margin-bottom:0px;vertical-align:bottom;">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="icon-wrench"></i>&nbsp;{{- 'ccdn_forum_forum.link.topic_admin' |trans({}, 'CCDNForumForumBundle') -}}&nbsp;
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li>
					{%- if topic.isSticky -%}
						<a href="{{- path('ccdn_forum_admin_topic_unsticky', {'topicId': topic.getId }) -}}"><i class="icon-bullhorn"></i>&nbsp;{{- 'ccdn_forum_forum.link.topic.unsticky' |trans({}, 'CCDNForumForumBundle') -}}</a>
					{%- else -%}
						<a href="{{- path('ccdn_forum_admin_topic_sticky', {'topicId': topic.getId }) -}}"><i class="icon-bullhorn"></i>&nbsp;{{- 'ccdn_forum_forum.link.topic.sticky' |trans({}, 'CCDNForumForumBundle') -}}</a>
					{%- endif -%}
					</li>
					
					<li><a href="{{- path('ccdn_forum_admin_topic_change_board', {'topicId': topic.getId }) -}}"><i class="icon-move"></i>&nbsp;{{- 'ccdn_forum_forum.link.topic.change_board' | trans({}, 'CCDNForumForumBundle') -}}</a></li>

					<li>
					{%- if topic.closedBy -%}
						<a href="{{- path('ccdn_forum_admin_topic_reopen', {'topicId': topic.getId }) -}}"><i class="icon-lock"></i>&nbsp;{{- 'ccdn_forum_forum.link.topic.reopen' | trans({}, 'CCDNForumForumBundle') -}}</a>
					{%- else -%}
						<a href="{{- path('ccdn_forum_admin_topic_close', {'topicId': topic.getId }) -}}"><i class="icon-lock"></i>&nbsp;{{- 'ccdn_forum_forum.link.topic.close' | trans({}, 'CCDNForumForumBundle') -}}</a>
					{%- endif -%}
					</li>
					
					<li>
					{%- if topic.deletedBy -%}
						<a href="{{- path('ccdn_forum_admin_topic_restore', {'topicId': topic.getId }) -}}"><i class="icon-trash"></i>&nbsp;{{- 'ccdn_forum_forum.link.topic.restore' |trans({}, 'CCDNForumForumBundle') -}}</a>
					{%- else -%}
						<a href="{{- path('ccdn_forum_admin_topic_delete', {'topicId': topic.getId }) -}}"><i class="icon-trash"></i>&nbsp;{{- 'ccdn_forum_forum.link.topic.delete' |trans({}, 'CCDNForumForumBundle') -}}</a>
					{%- endif -%}
					</li>
				</ul>
			</div>
		{%- endif -%}

	{%- endif -%}
{%- endspaceless -%}
