{% extends ccdn_forum_forum.subscription.list.layout_template %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}{{- truncDot('ccdn_forum_forum.title.subscriptions.show' | trans({}, 'CCDNForumForumBundle'), ccdn_forum_forum.seo.title_length) -}}{% endblock %}

{% block sidebar %}
	{{ parent() }}

	{%- include 'CCDNForumForumBundle:Sidebar:sidebar.html.twig' -%}

{% endblock %}


{% block body_content %}

	{%- spaceless -%}

	{%- include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' -%}

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	<h2>{{- 'ccdn_forum_forum.title.subscriptions.show' | trans({}, 'CCDNForumForumBundle' ) -}}</h2>

	<div class="btn-toolbar" style="display:block !important;clear:both !important;">
		{%- if pager.haveToPaginate -%}
			<div class="pull-right">
	    	{{- pagerfanta(pager, 'twitter_bootstrap_compact', {'routeName':'ccdn_forum_forum_subscription_list_paginated', 'routeParams':{}} ) -}}
			</div>
		{%- endif -%}
		<br><br>
	</div>
	
	<table class="table">
		<thead>
			<tr>
				<th class="center" style="width:18px;"></th>
				<th class="center" style="width:18px;"></th>
				<th class="left">{{- 'ccdn_forum_forum.board.table.head.topic_title' | trans({}, 'CCDNForumForumBundle') -}}</th>
				<th class="center" style="width: 100px;">{{- 'ccdn_forum_forum.board.table.head.reply_count' | trans({}, 'CCDNForumForumBundle') -}}</th>
				<th class="center" style="width: 100px;">{{- 'ccdn_forum_forum.board.table.head.view_count' | trans({}, 'CCDNForumForumBundle') -}}</th>
				<th class="center" style="width: 170px;">{{- 'ccdn_forum_forum.board.table.head.last_post' | trans({}, 'CCDNForumForumBundle') -}}</th>
			</tr>
		</thead>
		<tbody>
		{%- for row, subscription in pager.getCurrentPageResults -%}
			{%- set topic = subscription.getTopic -%}
			{%- if not topic.getDeletedBy or is_granted('ROLE_MODERATOR') -%}
				{%- include 'CCDNForumForumBundle:Board:item_topic_list.html.twig' -%}
			{%- endif -%}
		{%- else -%}
			<tr>
				<td class="center" colspan="6">
					{{- 'ccdn_forum_forum.subscriptions.table.empty' | trans({}, 'CCDNForumForumBundle') -}}
				</td>
			</tr>
		{%- endfor -%}
		</tbody>
	</table>
	
	<div class="btn-toolbar" style="display:block !important;clear:both !important;">
		{%- if pager.haveToPaginate -%}
			<div class="pull-right">
	    	{{- pagerfanta(pager, 'twitter_bootstrap_compact', {'routeName':'ccdn_forum_forum_subscription_list_paginated', 'routeParams':{}} ) -}}
			</div>
		{%- endif -%}
		<br><br>
	</div>

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	{%- endspaceless -%}

{% endblock body_content %}
