{% extends 'CCDNForumForumBundle::base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.subscription.list.layout_template %}

{% block title %}{{- truncDot('title.subscription.index' | trans({}, 'CCDNForumForumBundle'), ccdn_forum_forum.seo.title_length) -}}{% endblock %}


{% block body_content %}

	{%- spaceless -%}

	<header class="row-fluid">
		<h3>{{- 'title.subscription.index' | trans({}, 'CCDNForumForumBundle' ) -}}</h3>
	</header>

	<section>
		{%- if pager.haveToPaginate -%}
			<div class="btn-toolbar">
				<nav class="span12 btn-right paginate">
			    	{{- pagerfanta(pager, 'twitter_bootstrap_compact', {'routeName':'ccdn_forum_forum_subscription_list_paginated', 'routeParams':{}} ) -}}
				</nav>
			</div>
		{%- endif -%}

		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th class="center" style="width:18px;"></th>
					<th class="center" style="width:18px;"></th>
					<th class="left">{{- 'generic.thead.topic' | trans({}, 'CCDNForumForumBundle') -}}</th>
					<th class="center" style="width: 100px;">{{- 'generic.thead.replies' | trans({}, 'CCDNForumForumBundle') -}}</th>
					<th class="center" style="width: 100px;">{{- 'generic.thead.views' | trans({}, 'CCDNForumForumBundle') -}}</th>
					<th class="center" style="width: 170px;">{{- 'generic.last_post' | trans({}, 'CCDNForumForumBundle') -}}</th>
				</tr>
			</thead>
			<tbody>
				{%- for row, subscription in pager.getCurrentPageResults -%}
					{%- set topic = subscription.getTopic -%}
					{%- if not topic.isDeleted or is_granted('ROLE_MODERATOR') -%}
						{%- include 'CCDNForumForumBundle:Board:item_topic_list.html.twig' -%}
					{%- endif -%}
				{%- else -%}
					<tr>
						<td class="center" colspan="6">
							{{- 'subscription.none' | trans({}, 'CCDNForumForumBundle') -}}
						</td>
					</tr>
				{%- endfor -%}
			</tbody>
		</table>

		{%- if pager.haveToPaginate -%}
			<div class="btn-toolbar">
				<nav class="span12 btn-right paginate">
			    	{{- pagerfanta(pager, 'twitter_bootstrap_compact', {'routeName':'ccdn_forum_forum_subscription_list_paginated', 'routeParams':{}} ) -}}
				</nav>
			</div>
		{%- endif -%}
	</section>

	{%- endspaceless -%}

{% endblock body_content %}
