{%- spaceless -%}
	{%- set route = app.request.attributes.get('_route') -%}

	<li class="nav-header">
		{{- 'sidebar.header.navigation' | trans({}, 'CCDNForumForumBundle') -}}
	</li>

	<li>
		<a href="{{- path('ccdn_forum_user_category_index') -}}">
			<i class="icon-home"></i>
			{{- 'link.category.index' |trans({}, 'CCDNForumForumBundle') -}}
		</a>
	</li>

	{%- if is_granted('ROLE_SUPER_ADMIN') -%}
		{%- if route == 'ccdn_forum_admin_forum_list'
			or route == 'ccdn_forum_admin_forum_create'
			or route == 'ccdn_forum_admin_forum_edit'
			or route == 'ccdn_forum_admin_forum_delete'
		 -%}
			<li class="active">
				<a href="{{- path('ccdn_forum_admin_forum_list') -}}">
					<i class="icon-list icon-white"></i>
		{%- else -%}
			<li>
				<a href="{{- path('ccdn_forum_admin_forum_list') -}}">
					<i class="icon-list"></i>
		{%- endif -%}
					Manage Forums
				</a>
			</li>
	{%- endif -%}
	
	{%- if route == 'ccdn_forum_admin_category_list'
		or route == 'ccdn_forum_admin_category_create'
		or route == 'ccdn_forum_admin_category_edit'
		or route == 'ccdn_forum_admin_category_delete'
	 -%}
		<li class="active">
			<a href="{{- path('ccdn_forum_admin_category_list') -}}">
				<i class="icon-list icon-white"></i>
	{%- else -%}
		<li>
			<a href="{{- path('ccdn_forum_admin_category_list') -}}">
				<i class="icon-list"></i>
	{%- endif -%}
				Manage Categories
			</a>
		</li>

	{%- if route == 'ccdn_forum_admin_board_list'
		or route == 'ccdn_forum_admin_board_create'
		or route == 'ccdn_forum_admin_board_edit'
		or route == 'ccdn_forum_admin_board_delete'
	 -%}
		<li class="active">
			<a href="{{- path('ccdn_forum_admin_board_list') -}}">
				<i class="icon-list icon-white"></i>
	{%- else -%}
		<li>
			<a href="{{- path('ccdn_forum_admin_board_list') -}}">
				<i class="icon-list"></i>
	{%- endif -%}
				Manage Boards
			</a>
		</li>
	
{%- endspaceless -%}