{%- spaceless -%}
	{%- set route = app.request.attributes.get('_route') -%}

	<li class="nav-header">
		{{- 'sidebar.header.navigation' | trans({}, 'CCDNForumForumBundle') -}}
	</li>


	{%- if route == 'ccdn_forum_admin_forum_list' -%}
		<li class="active">
			<a href="{{- path('ccdn_forum_admin_forum_list') -}}">
				<i class="icon-white icon-home"></i>
	{%- else -%}
		<li>
			<a href="{{- path('ccdn_forum_admin_forum_list') -}}">
				<i class="icon-home"></i>
	{%- endif -%}
				Manage Forums
			</a>
		</li>
	
	{%- if route == 'ccdn_forum_admin_forum_create' -%}
		<li class="active">
			<a href="{{- path('ccdn_forum_admin_forum_create') -}}">
				<i class="icon-white icon-home"></i>
	{%- else -%}
		<li>
			<a href="{{- path('ccdn_forum_admin_forum_create') -}}">
				<i class="icon-home"></i>
	{%- endif -%}
				Create Forum
			</a>
		</li>



	{%- if route == 'ccdn_forum_admin_category_list' -%}
		<li class="active">
			<a href="{{- path('ccdn_forum_admin_category_list') -}}">
				<i class="icon-white icon-home"></i>
	{%- else -%}
		<li>
			<a href="{{- path('ccdn_forum_admin_category_list') -}}">
				<i class="icon-home"></i>
	{%- endif -%}
				Manage Categories
			</a>
		</li>

	{%- if route == 'ccdn_forum_admin_category_create' -%}
		<li class="active">
			<a href="{{- path('ccdn_forum_admin_category_create') -}}">
				<i class="icon-white icon-home"></i>
	{%- else -%}
		<li>
			<a href="{{- path('ccdn_forum_admin_category_create') -}}">
				<i class="icon-home"></i>
	{%- endif -%}
				Create Category
			</a>
		</li>



	{%- if route == 'ccdn_forum_admin_board_list' -%}
		<li class="active">
			<a href="{{- path('ccdn_forum_admin_board_list') -}}">
				<i class="icon-white icon-home"></i>
	{%- else -%}
		<li>
			<a href="{{- path('ccdn_forum_admin_board_list') -}}">
				<i class="icon-home"></i>
	{%- endif -%}
				Manage Boards
			</a>
		</li>

	{%- if route == 'ccdn_forum_admin_board_create' -%}
		<li class="active">
			<a href="{{- path('ccdn_forum_admin_board_create') -}}">
				<i class="icon-white icon-home"></i>
	{%- else -%}
		<li>
			<a href="{{- path('ccdn_forum_admin_board_create') -}}">
				<i class="icon-home"></i>
	{%- endif -%}
				Create Board
			</a>
		</li>
	
{%- endspaceless -%}