{% extends 'CCDNForumForumBundle::base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.topic.change_board.layout_template %}

{% block title %}{{- truncDot('ccdn_forum_forum.title.topic.change_board' | trans({'%topic_title%': topic.getTitle }, 'CCDNForumForumBundle'), ccdn_forum_forum.seo.title_length) -}}{% endblock %}


{% block body_content %}

	{%- spaceless -%}

	<section>
		{%- form_theme form ccdn_forum_forum.topic.change_board.form_theme -%}
		<form action="{{- path('ccdn_forum_forum_topic_change_board', { 'topicId': topic.getId} ) -}}" method="post" {{ form_enctype(form) }} class="form-horizontal">
			<fieldset>

				<div class="control-group form-title">
					<div class="controls">
						<h3>{{- 'ccdn_forum_forum.title.topic.change_board' | trans({'%topic_title%': topic.getTitle }, 'CCDNForumForumBundle') -}}</h3>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">
						Topic:
					</label>
					<div class="controls">
						<label class="label">
							{{- topic.getTitle -}}
						</label>
					</div>
				</div>

				{{- form_errors(form) -}}

				{{- form_widget(form) -}}

				<div class="form-actions">
					<input type="submit" class="btn btn-danger" value="{{- 'ccdn_forum_forum.form.button.topic.move_to_board' | trans({}, 'CCDNForumForumBundle') -}}" name="submit[post]">

					<a class="btn" href="{{- path('ccdn_forum_forum_topic_show', {'topicId': topic.id}) -}}">
						{{- 'ccdn_forum_forum.form.button.cancel' |trans({}, 'CCDNForumForumBundle') -}}
					</a>
				</div>

			</fieldset>
		</form>
	</section>

	{%- endspaceless -%}

{% endblock body_content %}
