{% extends 'CCDNForumForumBundle::base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.topic.create.layout_template %}

{% block title %}{{- truncDot('ccdn_forum_forum.title.topic.create' | trans({'%board_name%': board.getName }, 'CCDNForumForumBundle'), ccdn_forum_forum.seo.title_length) -}}{% endblock %}

{% block javascripts_extra %}
	<script src="{{- asset('bundles/ccdncomponentbbcode/js/jquery.bbeditor.js') -}}" type="text/javascript"></script>
{% endblock %}


{% block body_content %}

	{%- spaceless -%}

	<section>
		{%- form_theme form ccdn_forum_forum.topic.create.form_theme -%}
		<form action="{{- path('ccdn_forum_forum_topic_create', { 'boardId': board.id } ) -}}" method="post" {{ form_enctype(form) }} class="form-horizontal" novalidate>
			<fieldset>
		
				<div class="control-group form-title">
					<div class="controls">
						<h3>{{- 'ccdn_forum_forum.title.topic.create' | trans({'%board_name%': board.getName }, 'CCDNForumForumBundle') -}}</h3>
					</div>
				</div>

				{{- form_errors(form) -}}
			
				{{- form_row(form.Topic.board) -}}
				
				{{- form_row(form.Topic.title) -}}

				{{- form_rest(form) -}}
			
				<div class="form-actions">
					<input type="submit" class="btn btn-primary" value="{{- 'ccdn_forum_forum.form.button.topic.create' | trans({}, 'CCDNForumForumBundle') -}}" name="submit[post]">
					{#
					<input type="submit" class="btn" value="{{- 'ccdn_forum_forum.form.button.post.preview' | trans({}, 'CCDNForumForumBundle') -}}" name="submit_preview">
					<input type="submit" class="btn" value="{{- 'ccdn_forum_forum.form.button.post.save_draft' | trans({}, 'CCDNForumForumBundle') -}}" name="submit_draft">
					#}
					<a class="btn" href="{{- path('ccdn_forum_forum_board_show', {'boardId': board.id}) -}}">
						{{- 'ccdn_forum_forum.form.button.cancel' |trans({}, 'CCDNForumForumBundle') -}}
					</a>
				</div>
			</fieldset>
		</form>
	</section>
	
    {%- if preview is defined -%}
        {%- if preview is not empty -%}
            {%- include "CCDNForumForumBundle:Post:post_preview.html.twig" with {'post': preview} -%}
        {%- endif -%}
    {%- endif -%}

	{%- endspaceless -%}

{% endblock body_content %}
