{% extends 'CCDNForumAdminBundle::base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_admin.topic.delete_topic.layout_template %}

{% block title %}{{- truncDot('title.topic.delete' |trans({'%topic_title%': topic.getTitle }, 'CCDNForumForumBundle'), ccdn_forum_admin.seo.title_length) -}}{% endblock %}


{% block body_content %}

	{%- spaceless -%}

	<section class="form-confirmation">

		<h3>{{- 'title.topic.delete' |trans({'%topic_title%': topic.getTitle }, 'CCDNForumForumBundle') -}}</h3>

		<div class="form-question">
			<span class="lead">{{- 'topic.delete_confirm' | trans({}, 'CCDNForumForumBundle') -}}</span>
		</div>

		<div class="form-answer">
			<a class="btn btn-danger" href="{{- path('ccdn_forum_moderator_topic_delete_confirmed', {'topicId': topic.id }) -}}">
				{{- 'form.button.yes' | trans({}, 'CCDNForumForumBundle') -}}
			</a>

			<a class="btn" href="{{- path('ccdn_forum_user_topic_show', {'topicId': topic.id }) -}}">
				{{- 'form.button.no' | trans({}, 'CCDNForumForumBundle') -}}
			</a>
		</div>

	</section>

	{%- endspaceless -%}

{% endblock body_content %}
