{% extends 'CCDNForumForumBundle::base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.topic.show.layout_template %}

{% block title %}{{- truncDot('ccdn_forum_forum.title.topic.show' | trans({'%topic_title%': topic.getTitle |capitalize}, 'CCDNForumForumBundle'), ccdn_forum_forum.seo.title_length) -}}{% endblock %}


{% block body_content %}

    {%- spaceless -%}

	<header class="row-fluid">
		<div class="span6">
		    <h3 title="{{- topic.getTitle -}}">{{- truncDot(topic.getTitle |capitalize, 70) -}}</h3>
		</div>
		<div class="span6 content-right">
		    <span class="label label-inverse prominent-figure" title="{{- topic.cachedReplyCount -}}">
				{{- 'ccdn_forum_forum.topic.reply_count' |trans({}, 'CCDNForumForumBundle') -}}
				{{- abbr_number(topic.cachedReplyCount) -}}
			</span>
				
		    <span class="label label-inverse prominent-figure" title="{{- topic.cachedViewCount -}}">
				{{- 'ccdn_forum_forum.topic.view_count' |trans({}, 'CCDNForumForumBundle') -}}
				{{- abbr_number(topic.cachedViewCount) -}}
			</span>

		    {%- if subscription_count is defined -%}
		        <span class="label label-inverse prominent-figure" title="{{- subscription_count -}}">
					{{- 'ccdn_forum_forum.topic.subscription_count' |trans({}, 'CCDNForumForumBundle') -}}
					{{- abbr_number(subscription_count) -}}
				</span>
		    {%- endif -%}				
		</div>
	</header>


	<section>
	    {%- if topic.isDeleted -%}
	        <div class="alert alert-error block-alert">
	            <i class="icon-trash"></i>
	            {% set topic_deleter = create_profile(topic.getDeletedBy) %}

	            {{- 'ccdn_forum_forum.topic.deleted_by' | trans({}, 'CCDNForumForumBundle') -}}
	            {{ topic_deleter.getProfilePath|raw }}
	            
				&nbsp;&#183;
				
	            {{- topic.getDeletedDate |date(ccdn_forum_forum.topic.show.topic_deleted_datetime_format) -}}
	        </div>
	    {%- endif -%}

	    {%- if topic.isClosed -%}
	        <div class="alert alert-error block-alert">
	            <i class="icon-lock"></i>
	            {% set topic_closer = create_profile(topic.getClosedBy) %}

	            {{- 'ccdn_forum_forum.topic.closed_by' | trans({}, 'CCDNForumForumBundle') -}}
	            {{ topic_closer.getProfilePath|raw }}
	            
				&nbsp;&#183;
				
	            {{- topic.getClosedDate |date(ccdn_forum_forum.topic.show.topic_closed_datetime_format) -}}
	        </div>
	    {%- endif -%}

	    {%- if topic.isSticky -%}
	        <div class="alert alert-inverse block-alert">
		        <i class="icon-bullhorn"></i>
	            {% set topic_stickier = create_profile(topic.stickiedBy) %}

	            {{- 'ccdn_forum_forum.topic.stickied_by' | trans({}, 'CCDNForumForumBundle') -}}
	            {{ topic_stickier.getProfilePath|raw }}
	            
				&nbsp;&#183;
				
	            {{- topic.getStickiedDate |date(ccdn_forum_forum.topic.show.topic_deleted_datetime_format) -}}
	        </div>
	    {%- endif -%}

	    <div class="btn-toolbar">
	        <div class="span6">		
	            {%- include 'CCDNForumForumBundle:Toolbar:topic_actions.html.twig' -%}
	        </div>
	        {%- if pager.haveToPaginate -%}
	            <nav class="span6 btn-right">
		            {{- pagerfanta(pager, 'twitter_bootstrap_compact', {'routeName':'ccdn_forum_forum_topic_show_paginated', 'routeParams':{'topicId':topic.getId}} ) -}}
	            </nav>
	        {%- endif -%}
	    </div>

	    {%- for key, post in pager.getCurrentPageResults -%}
	        {%- include "CCDNForumForumBundle:Post:item_post.html.twig" with {'key': key} -%}
	    {%- endfor -%}
	
	    <div class="btn-toolbar">
	        <div class="span6">		
	            {%- include 'CCDNForumForumBundle:Toolbar:topic_actions.html.twig' -%}
	        </div>
	        {%- if pager.haveToPaginate -%}
	            <nav class="span6 btn-right">
		            {{- pagerfanta(pager, 'twitter_bootstrap_compact', {'routeName':'ccdn_forum_forum_topic_show_paginated', 'routeParams':{'topicId':topic.getId}} ) -}}
	            </nav>
	        {%- endif -%}
	    </div>
	</section>

    {%- endspaceless -%}

{% endblock body_content %}
