{% extends param('ccdn_forum_forum.topic.show.layout_template') %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/ccdncomponentcrumbtrail/css/crumbs.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('bundles/ccdncomponentcommon/css/speech_bubble.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('bundles/ccdncomponentbbcode/css/bbcode.css') }}" rel="stylesheet" type="text/css">	
{% endblock %}

{% block title %}{{ 'title.topic.show' | trans({'%topic_title%': topic.getTitle |capitalize}, 'CCDNForumForumBundle') }}{% endblock %}

{% block sidebar %}
	{{ parent() }}

	{% include 'CCDNForumForumBundle:Sidebar:sidebar.html.twig' %}
	
{% endblock %}

{% block sidebar_actions %}
	{{ parent() }}
	
	{% include 'CCDNForumForumBundle:Sidebar:sidebar_actions.html.twig' %}
	
{% endblock %}


{% block body %}

	{% include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' %}
	
	{% if topic.closedDate %}
	<div class="alert alert-error">
		{{ 'topic.closed_by' | trans({}, 'CCDNForumForumBundle') }}
		{% if topic.getClosedBy %}<a href="{{ path(user_profile_route, {'user_id': topic.getClosedBy.getId } ) }}">{{ topic.getClosedBy.getUsername }}</a>{% else %}Unknown{% endif %}
		{{ topic.getClosedDate |date(param('ccdn_forum_forum.topic.show.topic_closed_datetime_format')) }}
	</div>
	{% endif %}

	{% if topic.deletedDate %}
	<div class="alert alert-error">
		{{ 'topic.deleted_by' | trans({}, 'CCDNForumForumBundle') }}
		{% if topic.getDeletedBy %}<a href="{{ path(user_profile_route, {'user_id': topic.getDeletedBy.getId } ) }}">{{ topic.getDeletedBy.getUsername }}</a>{% else %}Unknown{% endif %}
		{{ topic.getDeletedDate |date(param('ccdn_forum_forum.topic.show.topic_deleted_datetime_format')) }}
	</div>
	{% endif %}
	
	{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}

	{% spaceless %}
		<h2>{{ truncDot(topic.getTitle |capitalize, 70) }}</h2>
			
		<div class="well" style="padding: 10px;">			
			<span class="badge badge-info">{{ 'topic.reply_count' |trans({}, 'CCDNForumForumBundle') }}&nbsp;{{ topic.cachedReplyCount }}</span>&nbsp;
			<span class="badge badge-info">{{ 'topic.view_count' |trans({}, 'CCDNForumForumBundle') }}&nbsp;{{ topic.cachedViewCount }}</span>&nbsp;

			{% if subscription_count is defined %}
				<span class="badge badge-info">{{ 'topic.subscription_count' |trans({}, 'CCDNForumForumBundle') }}&nbsp;{{ subscription_count }}</span>&nbsp;
			{% endif %}

			{% if topic.isSticky %}
			<span class="label label-important">
				<i class="icon-white icon-bullhorn"></i>
				{{ 'topic.stickied_by' | trans({}, 'CCDNForumForumBundle') }}
				{% if topic.getStickiedBy %}{{ topic.getStickiedBy.getUsername }}{% else %}Unknown{% endif %}
				{{ topic.getStickiedDate |date(param('ccdn_forum_forum.topic.show.topic_deleted_datetime_format')) }}
			</span>&nbsp;
			{% endif %}

			{% if topic.isClosed %}
			<span class="label label-important">
				<i class="icon-white icon-lock"></i>
				{{ 'topic.closed_by' | trans({}, 'CCDNForumForumBundle') }}
				{% if topic.getClosedBy %}{{ topic.getClosedBy.getUsername }}{% else %}Unknown{% endif %}
				{{ topic.getClosedDate |date(param('ccdn_forum_forum.topic.show.topic_closed_datetime_format')) }}
			</span>&nbsp;
			{% endif %}

			{% if topic.isDeleted %}
			<span class="label label-important">
				<i class="icon-white icon-trash"></i>
				{{ 'topic.deleted_by' | trans({}, 'CCDNForumForumBundle') }}
				{% if topic.getDeletedBy %}{{ topic.getDeletedBy.getUsername }}{% else %}Unknown{% endif %}
				{{ topic.getDeletedDate |date(param('ccdn_forum_forum.topic.show.topic_deleted_datetime_format')) }}
			</span>&nbsp;
			{% endif %}
		</div>			
	{% endspaceless %}

	<div class="btn-toolbar" style="display:block;clear:both;height:75px;vertical-align:top;margin-top:0px;">
		{% if pager.haveToPaginate %}
			<div class="pull-left" style="display:inline-block;vertical-align:top;margin-top:0px;">
			{{ pagerfanta(pager, 'twitter_bootstrap', {'routeName':'cc_forum_topic_show_paginated', 'routeParams':{'topic_id':topic.getId}} ) }}
			</div>		
		{% endif %}
		<div class="pull-right" style="display:inline-block;vertical-align:top;margin-top:0px;height:50px;padding-top:27px;">
			<a class="btn-large btn-danger" href="{{ path('cc_forum_topic_reply', {'topic_id': topic.getId }) }}"><i class="icon-white icon-comment"></i>&nbsp;{{ 'link.post.reply' | trans({}, 'CCDNForumForumBundle') }}</a>		
		</div>	
	</div>

	{% for key, post in pager.getCurrentPageResults %}
		{% include "CCDNForumForumBundle:Post:item_post.html.twig" with {'key': key} %}
	{% endfor %}

	{% if pager.haveToPaginate %}
		{{ pagerfanta(pager, 'twitter_bootstrap', {'routeName':'cc_forum_topic_show_paginated', 'routeParams':{'topic_id':topic.getId}} ) }}
	{% endif %}

	{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}

{% endblock %}