{% spaceless %}
<h3>{{ 'topic.transcript' |trans({'%topic_title%': topic.getTitle}, 'CCDNForumForumBundle') }}</3>

<div class="section_panel full_section_frame">
	<div class="scrollable_panel" style="height: 300px;">
		{% for post in topic.getPosts %}					
			<div class="section_panel">
				<div class="column h_align_left">					
					{% if post.getCreatedBy %}
					<a href="{{ path(user_profile_route, {'user_id': post.getCreatedBy.getId } ) }}">{{ post.getCreatedBy }}</a>
					{% else %}Guest{% endif %}
				</div>
				<div class="column h_align_right">
					<span class="item_timestamp">&nbsp;{{ 'generic.posted_at' |trans({}, 'CCDNForumForumBundle') }}{{ post.getCreatedDate |date(param('ccdn_forum_forum.transcript.post_creation_datetime_format')) }}</span>	
				</div>
			</div>
			<div class="section_panel">
				{% if post.getDeletedBy %}
					<div class="">
						<span class="common_body">
						{{ 'post.is_deleted' | trans({}, 'CCDNForumForumBundle') }} - 
						{{ 'post.deleted_by' |trans({}, 'CCDNForumForumBundle') }}
						{% if post.getDeletedBy %}{{ post.getDeletedBy.getUsername }}{% else %}Guest{% endif %}
						{{ 'actioned.at' |trans({}, 'CCDNForumForumBundle') }}{{ post.getDeletedDate |date(param('ccdn_forum_forum.transcript.post_deleted_datetime_format')) }}
						</span>
					</div>
				{% else %}
					<pre>
						<span class="common_body">
							{{ post.getBody |raw }}
						</span>
					</pre>
				{% endif %}					
			</div>
		{% endfor %}
	</div>
</div>
{% endspaceless %}