{%- spaceless -%}

	<div class="forum-topic-transcript">
		<h3>{{- 'ccdn_forum_forum.topic.transcript' |trans({'%topic_title%': topic.getTitle}, 'CCDNForumForumBundle') -}}</h3>

		<div class="well">
			{%- for key, post in topic.getPosts -%}
		
				{%- if post.isDeleted == false or is_granted('ROLE_MODERATOR') -%}
					{%- set author = create_profile(post.getCreatedBy) -%}
		
					<article class="row-fluid forum-post-item">
					    <header{% if post.id %} id="post_{{- post.getId -}}"{% endif %} style="height:27px;">
							<div class="span12">
						        {{- 'ccdn_forum_forum.post.posted_by' |trans({}, 'CCDNForumForumBundle') -}}
						        {{- author.getProfilePath|raw -}}

						        &nbsp;&#183;

						        <span class="timestamper"  title="{{- post.getCreatedDate |date('Y-m-d H:i:s T Z', 'Europe/London') -}}">
						            {{- post.getCreatedDate |date(ccdn_forum_forum.item_post.post_created_datetime_format) -}}
						        </span>
							</div>
						</header>

					    <section>
							<pre style="border:none;padding:none;white-space:pre;word-wrap:break-word;">
								{{- post.getBody |trim -}}
							</pre>
						</section>
					</article>
				{%- endif -%}
			{%- endfor -%}
		</div>
	</div>
	
{%- endspaceless -%}
