<div class="section_wrap_square">
	<div class="section_header">
		<h3>{{ 'topic.transcript' |trans({'%topic_title%': topic.getTitle}, 'CCDNForumForumBundle') }}</3>
	</div>
	
	<div class="section_panel full_section_frame">
		<div class="scrollable_panel" style="height: 300px;">
			{% for post in topic.getPosts %}					
				<div class="section_panel">
					<div class="column h_align_left">					
						{% if post.getCreatedBy %}
						<a href="{{ path(user_profile_route, {'user_id': post.getCreatedBy.getId } ) }}">{{ post.getCreatedBy }}</a>
						{% else %}Guest{% endif %}
					</div>
					<div class="column h_align_right">
						<span class="common_body">&nbsp;{{ 'generic.posted_at' |trans({}, 'CCDNForumForumBundle') }}{{ post.getCreatedDate|date("d/m/Y - H:i:s") }}</span>	
					</div>
				</div>
				<div class="section_panel">
					{% if post.getDeletedBy %}
					<div class="section_wrap_square">
						<div class="">
							<span class="common_body">
							{{ 'post.is_deleted' | trans({}, 'CCDNForumForumBundle') }} - 
							{{ 'post.deleted_by' |trans({}, 'CCDNForumForumBundle') }}
							{% if post.getDeletedBy %}{{ post.getDeletedBy.getUsername }}{% else %}Guest{% endif %}
							{{ 'actioned.at' |trans({}, 'CCDNForumForumBundle') }}{{ post.getCreatedDate|date("d/m/Y - H:i:s") }}
							</span>
						</div>
					</div>
					{% else %}
					<div class="section_wrap_square">
						<span class="common_body">
						{{ post.getBody |raw }}
						</span>
					</div>
					{% endif %}					
				</div>
			{% endfor %}
		</div>
	</div>
</div>