{%- spaceless -%}
<h3>{{- 'ccdn_forum_forum.topic.transcript' |trans({'%topic_title%': topic.getTitle}, 'CCDNForumForumBundle') -}}</h3>

<div class="well" style="height:300px; clear:both; display:block; overflow:scroll;">
	{% for post in topic.getPosts %}
        {% set cycle_shade = cycle(['odd', 'even'], loop.index) %}
        <div class="{{ cycle_shade }}-post-transcript">
            <div class="btn-toolbar" style="clear:both;">
                <div class="pull-left">
                    {%- if post.getCreatedBy -%}
                        {{- post.getCreatedBy -}}
                    {%- else -%}Guest{%- endif -%}
                </div>
                <div class="pull-right">
                    <span class="span3">{{- 'ccdn_forum_forum.generic.posted_at' |trans({}, 'CCDNForumForumBundle') -}}{{- post.getCreatedDate |date(ccdn_forum_forum.transcript.post_creation_datetime_format) -}}</span>
                </div>
            </div>
            <div style="clear:both;">
                {%- if post.getDeletedBy -%}
                    <span class="common_body">
                    {{- 'ccdn_forum_forum.post.is_deleted' | trans({}, 'CCDNForumForumBundle') -}} -
                    {{- 'ccdn_forum_forum.post.deleted_by' |trans({}, 'CCDNForumForumBundle') -}}
                    {%- if post.getDeletedBy -%}{{- post.getDeletedBy.getUsername -}}{%- else -%}Guest{%- endif -%}
                    {{- 'ccdn_forum_forum.generic.actioned_at' |trans({}, 'CCDNForumForumBundle') -}}{{- post.getDeletedDate |date(ccdn_forum_forum.transcript.post_deleted_datetime_format) -}}
                    </span>
                {%- else -%}
                    <span class="common_body">
                        {{- BBCode(post.getBody |raw, false) |raw -}}
                    </span>
                {%- endif -%}
            </div>
        </div>
	{% endfor %}
</div>
{%- endspaceless -%}
