{%- spaceless -%}
<h3>{{- 'topic.transcript' |trans({'%topic_title%': topic.getTitle}, 'CCDNForumForumBundle') -}}</h3>

<div class="well" style="height:300px; clear:both; display:block; overflow:scroll;">
	{% for post in topic.getPosts %}					
		<div class="btn-toolbar" style="clear:both;">
			<div class="pull-left">					
				{%- if post.getCreatedBy -%}
				<a href="{{- path(user_profile_route, {'user_id': post.getCreatedBy.getId } ) -}}">{{- post.getCreatedBy -}}</a>
				{%- else -%}Guest{%- endif -%}
			</div>
			<div class="pull-right">
				<span class="span3">{{- 'generic.posted_at' |trans({}, 'CCDNForumForumBundle') -}}{{- post.getCreatedDate |date(param('ccdn_forum_forum.transcript.post_creation_datetime_format')) -}}</span>	
			</div>
		</div>
		<div style="clear:both;">
			<br>
			{%- if post.getDeletedBy -%}
				<span class="common_body">
				{{- 'post.is_deleted' | trans({}, 'CCDNForumForumBundle') -}} - 
				{{- 'post.deleted_by' |trans({}, 'CCDNForumForumBundle') -}}
				{%- if post.getDeletedBy -%}{{- post.getDeletedBy.getUsername -}}{%- else -%}Guest{%- endif -%}
				{{- 'actioned.at' |trans({}, 'CCDNForumForumBundle') -}}{{- post.getDeletedDate |date(param('ccdn_forum_forum.transcript.post_deleted_datetime_format')) -}}
				</span>
			{%- else -%}
				<span class="common_body">
					{{- post.getBody |raw -}}
				</span>
			{%- endif -%}					
		</div>
		<hr>
	{% endfor %}
</div>
{%- endspaceless -%}