{% extends 'CCDNForumForumBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.post.user.edit.layout_template %}

{% block title %}{{- 'title.post.edit' | trans({'%post_id%': post.getId, '%topic_title%': post.getTopic.getTitle }, 'CCDNForumForumBundle') -}}{% endblock %}



{%- block sidebar -%}

	{%- spaceless -%}

	{{- parent() -}}

    {%- include 'CCDNForumForumBundle:Common:Layout/Sidebar/user_forum.html.twig' -%}

	{%- endspaceless -%}

{%- endblock sidebar -%}



{% block body_content %}

    {%- spaceless -%}

	<section class="clearfix">
	    {%- form_theme form ccdn_forum_forum.post.user.edit.form_theme -%}
	    <form action="{{- path('ccdn_forum_user_post_edit_process', {'forumName': forum.name, 'postId': post.id } ) -}}"
		 method="post" {{ form_enctype(form) }} class="form-horizontal" novalidate>
	        <fieldset>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<h3>{{- 'title.post.edit' | trans({'%post_id%': post.getId, '%topic_title%': post.getTopic.getTitle }, 'CCDNForumForumBundle') -}}</h3>
					</div>
				</div>

				{{- form_errors(form) -}}

				{%- if form.Topic is defined -%}
					{{- form_row(form.Topic.title) -}}
				{%- endif -%}

				{{- form_rest(form) -}}

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
		                <input type="submit" class="btn btn-primary" value="{{- 'form.button.post.edit' | trans({}, 'CCDNForumForumBundle') -}}" name="submit[post]" id="submit[post]">

						{#<input type="submit" class="btn" value="{{- 'ccdn_forum_forum.form.button.post.preview' | trans({}, 'CCDNForumForumBundle') -}}" name="submit_preview">#}

		                <a class="btn btn-default" href="{{- path('ccdn_forum_user_topic_show', {'forumName': forum.name, 'topicId': post.getTopic.getId}) -}}">
							{{- 'form.button.cancel' |trans({}, 'CCDNForumForumBundle') -}}
						</a>
					</div>
	            </div>

	        </fieldset>
	    </form>
	</section>

	{#
    {%- if preview is defined -%}
        {%- if preview is not empty -%}
            {%- include "CCDNForumForumBundle:Post:post_preview.html.twig" with {'post': preview} -%}
        {%- endif -%}
    {%- endif -%}
	#}

    {%- endspaceless -%}

{% endblock body_content %}
