{% extends 'CCDNForumForumBundle:User:Layout/base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.post.show.layout_template %}

{% block title %}{{- truncDot('title.post.show' | trans({'%post_id%': post.getId}, 'CCDNForumForumBundle'), ccdn_forum_forum.seo.title_length) -}}{% endblock %}


{% block body_content %}

	{%- spaceless -%}

	<header class="row-fluid">
		<div class="span6">
		    <h3 title="{{- topic.getTitle -}}">{{- truncDot(topic.getTitle |capitalize, 70) -}}</h3>
		</div>
		<div class="span6 content-right">
		    <span class="label label-inverse prominent-figure" title="{{- topic.cachedReplyCount -}}">
				{{- 'topic.count.reply' |trans({}, 'CCDNForumForumBundle') -}}
				{{- abbr_number(topic.cachedReplyCount) -}}
			</span>

		    <span class="label label-inverse prominent-figure" title="{{- topic.cachedViewCount -}}">
				{{- 'topic.count.view' |trans({}, 'CCDNForumForumBundle') -}}
				{{- abbr_number(topic.cachedViewCount) -}}
			</span>

		    {%- if subscription_count is defined -%}
		        <span class="label label-inverse prominent-figure" title="{{- subscription_count -}}">
					{{- 'topic.count.subscription' |trans({}, 'CCDNForumForumBundle') -}}
					{{- abbr_number(subscription_count) -}}
				</span>
		    {%- endif -%}
		</div>
	</header>

	{%- if topic.isDeleted or topic.isClosed or topic.isSticky -%}
		<section>
		    {%- if topic.isDeleted -%}
		        <div class="alert alert-error block-alert">
		            <i class="icon-trash"></i>

		            {{- 'ccdn_forum_forum.topic.deleted_by' | trans({}, 'CCDNForumForumBundle') -}}
		            {{ topic.getDeletedBy }}

					&nbsp;&#183;

		            {{- topic.getDeletedDate |date(ccdn_forum_forum.topic.show.deleted_datetime_format) -}}
		        </div>
		    {%- endif -%}

		    {%- if topic.isClosed -%}
		        <div class="alert alert-error block-alert">
		            <i class="icon-lock"></i>

		            {{- 'ccdn_forum_forum.topic.closed_by' | trans({}, 'CCDNForumForumBundle') -}}
		            {{ topic.getClosedBy }}

					&nbsp;&#183;

		            {{- topic.getClosedDate |date(ccdn_forum_forum.topic.show.closed_datetime_format) -}}
		        </div>
		    {%- endif -%}

		    {%- if topic.isSticky -%}
		        <div class="alert alert-inverse block-alert">
			        <i class="icon-bullhorn"></i>

		            {{- 'ccdn_forum_forum.topic.stickied_by' | trans({}, 'CCDNForumForumBundle') -}}
		            {{ topic.stickiedBy }}

					&nbsp;&#183;

		            {{- topic.getStickiedDate |date(ccdn_forum_forum.topic.show.deleted_datetime_format) -}}
		        </div>
		    {%- endif -%}
		</section>
	{% endif %}

	<section class="row-fluid">
	    <div class="span12 btn-toolbar">
	        <div class="span6">
	            {%- include 'CCDNForumForumBundle:User:Topic/Partial/topic_actions.html.twig' -%}
	        </div>
	    </div>
	</section>

	<section>
		{%- include "CCDNForumForumBundle:User:Post/Partial/item_post.html.twig" -%}
	</section>

	<section class="row-fluid">
	    <div class="span12 btn-toolbar">
	        <div class="span6">
	            {%- include 'CCDNForumForumBundle:User:Topic/Partial/topic_actions.html.twig' -%}
	        </div>
	    </div>
	</section>

	{%- endspaceless -%}

{% endblock body_content %}
